@charset "utf-8";
/* CSS Document */

* { font: 13px/1.5 '微软雅黑'; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -box-sizing: border-box; padding:0; margin:0; list-style:none; box-sizing: border-box; }
body, html { height:100%; overflow:hidden; }
body { background:#93defe; background-size: cover; }
a { color:#27A9E3; text-decoration:none; cursor:pointer; }
img{ border:none;}

.login_box{ position: absolute; left: 0; top: 136px; width: 100%; z-index: 2;}
.login_box .inner{width: 80vw; position: relative; margin: 0 auto; display: flex;}
.login_box .inner::after{content: " "; display: table; clear: both;}
.login {
  max-width: 364px;
  padding:50px; 
  background-color: rgba(255,255,255,.96);
  border-radius:6px;
  box-sizing: border-box; 
  position:relative; 
}
.login_logo{
  position:absolute; 
  width:120px;
  top:-60px; 
  right:50%;
  padding-left:60px;
}
.login_logo a {
  width:120px;
  height:120px;
  display: block;
  border:5px solid #93defe;
  border-radius:100px; 
  background:#fff; 
  text-align:center; 
  line-height:110px; 
}
.login_name{ 
  width:100%; 
  float:left; 
  text-align:center; 
  margin-top:20px;
}
.login_name p{ 
  width:100%; 
  text-align:center; 
  font-size:18px; 
  color:#444; 
  padding:10px 0 20px;
}
.login_logo img{ 
  width:60px; 
  height:60px;
  display: inline-block; 
  vertical-align: middle;
}
.verify-wrap {
  margin: 0px!important;
}

input[type=text], input[type=file], input[type=password], input[type=email], select { border: 1px solid #DCDEE0; vertical-align: middle; border-radius: 3px; height: 38px; padding: 0px 16px; font-size: 14px; color: #555555; outline:none; width:100%;margin-bottom: 15px;line-height:38px; color:#888;}
input[type=text]:focus, input[type=file]:focus, input[type=password]:focus, input[type=email]:focus, select:focus { border: 1px solid #27A9E3; }
input[type=submit], input[type=button] { display: inline-block; vertical-align: middle; padding: 6px 24px; margin: 0px; font-size:16px; line-height: 24px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; color: #ffffff; background-color: #27A9E3; border-radius: 2px; border: none; -webkit-appearance: none; outline:none; width:100%; margin-top: 1.6rem; }
.copyright { font-size:14px; color:#fff; display:block;width:100%; float:left; text-align:center; margin-top:60px;}

#password_text{border: 1px solid #DCDEE0; vertical-align: middle; border-radius: 3px; height: 40px; padding: 0px 16px; font-size: 14px; color: #888; outline:none; width:100%;margin-bottom: 15px;display: block; line-height:40px;}

@media screen and (max-width:767px) {
  .login_box .login_l_img {
    display: none;
  }
  .login_box .inner{
    width: 90vw;
  }
}

@media screen and (min-width:768px) {
  .login_box .inner{
    min-width: 768px;
  }
  .login_box .login_l_img{
    width: 50%;
    height: 440px;
    text-align: right;
  }
  .login_box .login_l_img img{
    max-width: 100%;
    max-height: 100%;
  }
  .login {
    width: 40%;
    margin-left: 10%;
  }
}
