body {
	font: 14px \5FAE\8F6F\96C5\9ED1, "Raleway", "Open Sans", "Helvetica Neue", Microsoft JhengHei, Arial, sans-serif;
	margin: auto;
	color: #3F3F3F;
}
.login_box a:link {text-decoration: none;color: #0099FF;}
.login_box a:visited {
	text-decoration: none;
	color: #0099FF;
}
.login_box a:hover {
	text-decoration: none;
	color: #FF3311;
}
.login_box a:active {
	text-decoration: none;
	color: #3fd800;
}
.dx:link {
	color: #FFFFFF;
	background-color: #0099FF;
}
.dx:hover {
	color: #FFFFFF;
	background-color: #55BBFF;
}
.top{
	background: #fafafa;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
	position: fixed;
	top: 0;
	_top: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat')?documentElement.scrollTop:document.body.scrollTop);
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	z-index: 100;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dee9f5;
	height:70px;
	box-shadow: 0 1px 10px rgba(151,164,175,10.1);
}
.d1{width:1190px;margin:0 auto;}
.d1 a:link {
	color: #999999;
	text-decoration: none;
}
.d1 a:visited {
	color: #a8d6f1;
	text-decoration: none;
}
.d1 a:hover {
	color: #333333;
	text-decoration: none;
}
.d1 a:active {
	text-decoration: none;
}
.loginlogo {
	float: left;
	background-image: url(../image/logo3.gif);
	background-repeat: no-repeat;
	background-position: 17px 14px;
	padding-top: 10px;
	height:50px; background-position:15px 15px;
	
}
.d12 {
	float: right;
	padding-right: 10px;
	padding-top:65px;
	height:59px;
	position: absolute;
	right: 0;
}
 
.logintit {
	display: block;
	width: 250px;margin-top:13px; 
	text-align: right;
}



.pc {
	background-color: #0099FF;
	height: 15px;
	background-image: url(../image/logo3.gif);
	background-repeat: no-repeat;
	background-position: 90% bottom;
	margin-top: 45px;
	_margin-top: 0px;
}
.d {
	width: 993px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
.b {
	font-size: 30px;
	text-align: center;
	padding: 56px 0px 20px 0px;
}
.d2 {
	line-height: 43px;
	border-top: 1px solid #EEEEEE;
	padding: 28px 10px 16px 10px;
}
.z {
	padding-left: 270px;
	height: 56px;
}
.dx2 {
	text-align: center;
	width: 128px;
	float: left;
	background-color: #FF6452;
	margin: 13px;
	line-height: 30px;
	height: 30px;
}
.dx2 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.dx2 a:visited {
	color: #FFFFFF;
}
.dx2 a:hover {
	color: #CCCCCC;
}
.d3 {
	clear: both;
}
.foot_info {
	font-size: 12px;
	text-align: center;
	color: #93D393;
	padding: 60px 0px 36px 0px;
}
.p9 {
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}
.p8 {
	padding: 9px;
	font-size: 16px;
	width: 93%;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	background: #fafafa;
}
.p8:focus {
	border: #52A6EF 1px solid;
	box-shadow: 0 0 3px rgba(82, 166, 239, 0.8);
	outline: none;
	background: #fff;
}


.p7 {
	color: #BBBBBB;
	padding-right: 16px;
}
.j {
	font-weight: 700;
}



::-webkit-scrollbar {
 background: rgba(0, 0, 0, 0.1);
 height: 8px;
 width: 8px
}



::-webkit-scrollbar-thumb {
 background-color: rgba(0, 0, 0, 0.2)
}



::-webkit-scrollbar-thumb:hover {
 background: rgba(0, 0, 0, 0.3);
}



::-webkit-scrollbar-thumb:active {
 background: rgba(0, 0, 0, 0.5);
}
.d12 {
	display: none;
}
.input {
	padding: 9px 9px 9px 31px;
	font-size: 16px;
	width: 100%;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url(../image/logo7.gif);
	background-repeat: no-repeat;
	background-position: -121px -158px;
}
.pwd {
	background-image: url(../image/logo7.gif);
	background-repeat: no-repeat;
	background-position: -121px -188px;
}
.input:hover {
	border: #52A6EF 1px solid;
}
.input:focus {
	border: #52A6EF 1px solid;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.275);
	outline: none;
}
.btn:disabled {
	border: #D5D5D5 1px solid;
	background-color: #D5D5D5;
	color: #9E9E9E;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: initial;
}
.p4 {
	text-align: center;
	line-height: 2.1em;
	color: #888888;
}
.p6 {
	text-align: center;
	font-size: 18px;
	line-height: 2.0em;
	color: #585858;
}
.p5 {
	height: 52px;
	width: 78px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../image/logo7.gif);
	background-repeat: no-repeat;
	background-position: 0px -56px;
}
.p3 {
	padding: 4px;
}
.p2 {
	height: 102px;
	width: 99px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../image/logo7.gif);
	background-repeat: no-repeat;
	background-position: 0px -111px;
}
.login-code{
	box-shadow: -1px 2px 17px 3px rgba(0, 0, 0, 0.3);
	border: 29px solid #F5F5F5;
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5;
	width: 350px;
	padding-bottom:10px;
	border-radius: 10px;
}
.e_u {
	display: none;
	position: absolute;
	background-color: #FFF;
	border: 1px solid #999;
	padding: 6px;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	margin-top: -30px;
	margin-left: 185px;
}
.ylogin {
	display: none;
	position: absolute;
	text-align: center;
	width: 250px;
	line-height: 36px;
	background: #f5f5f5;
	height: 40px;
	cursor: pointer;
}
.usersel {
	position: absolute;
	margin-left: 218px;
	color: #08f;
}
.copyright {
	line-height: 1.5em;
	padding-top: 1.5%;
	margin-bottom: -50px;
	text-align: center;
	font-size: 12px;
	color: #999;
	line-height: 1.5em;
}
.main-title {
	display: block;
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 24px;
	color: #3d3d3d;
	text-align: center;
	line-height: 30px;
}
.wx-title {
	display: block;
	/* ÃƒÂ¥Ã‚Â±Ã¢â‚¬Â¦ÃƒÂ¤Ã‚Â¸Ã‚Â­ */

	position: relative;
	margin-top: 10px;
	color: #3d3d3d;
	text-align: center;
	font-size: 14px;
}
.wx-title p{line-height: 30px;}
.wx-title img {
	margin-bottom: -4px;
}
.login_box .wx-img {
	width: 172px;
	height: 172px;margin:0 auto; 
}
.login_box .wx-img img {
 
	max-width: 100%;margin:0 auto; 
	border: 1px solid #e2e2e2;
}
.errorBox {
	border: 1px solid #fdd3d3;
	bottom: 8px;
	padding-left: 33px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #e63333;
	opacity: 1;
	display: none;
	background: url(../image/login_iconb536.png) -104px -50px no-repeat #feefef;
}
 input:-webkit-autofill { /* ÃƒÂ¥Ã‚ÂÃ¢â‚¬â€œÃƒÂ¦Ã‚Â¶Ã‹â€ ChromeÃƒÂ¨Ã‚Â®Ã‚Â°ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ¥Ã‚Â¯Ã¢â‚¬Â ÃƒÂ§Ã‚Â Ã‚ÂÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¨Ã†â€™Ã…â€™ÃƒÂ¦Ã¢â€žÂ¢Ã‚Â¯ÃƒÂ©Ã‚Â¢Ã…â€œÃƒÂ¨Ã¢â‚¬Â°Ã‚Â² */
 -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
