{extend name="base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-element">
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg6">
                                <label class="layui-form-label">登录用户：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$item.username}" />
                                </div>
                            </div>
                            <div class="layui-col-lg6">
                                <label class="layui-form-label">登录密码：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" {if !isset($item['user_id'])} lay-verify="required"{/if} placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-lg6">
                                <label class="layui-form-label">用户分组：</label>
                                <div class="layui-input-block">
                                    <select name="group_id" lay-filter="group" {if $item.is_delete==0}disabled="true"{/if}>
                                        {foreach name="userGroup" id="group"}
                                        <option value="{$group.group_id}">{$group.group}</option>
                                        {/foreach}
                                    </select>
                                    <input type="hidden" name="parent_id" value="{$item.parent_id}" />
                                </div>
                            </div>
                            {foreach name="userAttr" id="extend"}
                            <div class="layui-col-lg6">
                                <label class="layui-form-label">{$extend.title}：</label>
                                <div class="layui-input-block">
                                    {if in_array($extend['type'],['text','datetime','number'])}
                                    <input type="{$extend.type}" name="{$extend.attr}" lay-verify="{$extend.required}" autocomplete="off" class="layui-input" value="{$item['attr'][$extend['attr']]}" />
                                    {elseif in_array($extend['type'],['checkbox','radio'])}
                                        {foreach name="extend['options']" id="option"}
                                        <input type="{$extend.type}" name="{$extend.attr}" title="{$option.title}" lay-skin="primary" value="{$option.value}" /> 
                                        {/foreach}
                                    {elseif $extend.type=='switch'}
                                    <input type="checkbox" name="switch" lay-skin="switch" lay-text="ON|OFF" value="1" data-filtered="filtered" />
                                    {elseif $extend.type=='textarea'}
                                    <textarea name="{$extend.attr}" lay-verify="{$extend.required}" class="layui-textarea">{$item['attr'][$extend['attr']]}</textarea>
                                    {elseif $extend.type=='image'}
								    <div class="image-uploader" data-limit="1">
                                        <input type="hidden" name="{$extend.attr}" value="{$item['attr'][$extend['attr']]}" />
                                        <div class="inner"></div>
                                    </div>
                                    {elseif $extend.type=='images'}
								    <div class="image-uploader" data-limit="{$extend.options.length}">
                                        <input type="hidden" name="{$extend.attr}" value="{$item['attr'][$extend['attr']]}" />
                                        <div class="inner"></div>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="Common/uploadImage" /}
{/block}
{block name="scripts"}
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,form = layui.form;

        form.on('submit(component-form-element)', function(obj) {
            ns.wost(location.href, obj.field, res => {
                ns.close(res)
            });
            return false;
        });
    });
</script>
{/block}