{extend name="base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 15px 10px!important;">
                    <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                        <ul class="layui-tab-title">
                            {if checkAccess('sysUser')}<li{if $rule=='sysUser'} class="layui-this"{/if}><a href="{:url('sysUser')}">管理员</a></li>{/if}
                            {if checkAccess('sysGroup')}<li{if $rule=='sysGroup'} class="layui-this"{/if}><a href="{:url('sysGroup')}">管理组</a></li>{/if}
                            {if checkAccess('sysRole')}<li{if $rule=='sysRole'} class="layui-this"{/if}><a href="{:url('sysRole')}">角色管理</a></li>{/if}
                            {if checkAccess('sysRule')}<li{if $rule=='sysRule'} class="layui-this"{/if}><a href="{:url('sysRule')}">权限管理</a></li>{/if}
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form layui-card-header layuiadmin-card-header-auto layui-form-filter">
                                    <div class="layui-form-item">
                                        <div class="layui-inline btn-group">
                                            <button class="layui-btn layui-btn-sm layui-btn-normal layuiadmin-btn-admin" data-type="add"><i class="layui-icon">&#xe654;</i>添加</button>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">管理员名称</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="keyword" placeholder="请输入用户名" autocomplete="off" class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <table id="LAY-user-table" lay-filter="LAY-user-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<!-- 用户组 -->
<script type="text/html" id="userGroup">
    <span>{{d.group.group}}</span>
</script>

<!-- 用户状态 -->
<script type="text/html" id="userStatus">
    {{# if (!d.is_delete) { }}
    <input type="checkbox" name="switch" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" value="1" data-id="{{d.user_id}}" data-filtered="filtered" disabled="true" checked />
    {{# } else if(d.status == 1) { }}
    <input type="checkbox" name="switch" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" value="1" data-id="{{d.user_id}}" data-filtered="filtered" checked />
    {{# } else { }}
    <input type="checkbox" name="switch" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" value="1" data-id="{{d.user_id}}" data-filtered="filtered" />
    {{# } }}
</script>

<!-- 操作 -->
<script type="text/html" id="actionTpl">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        {{#  if(d.is_delete == 1){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        {{#  } }}
    </div>
</script>

<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var $ = layui.$ ,form = layui.form ,table = layui.table;
        var active = {
            add: function(){
                ns.open("{:url('sysUserAdd')}", '添加管理员').then(() => {
                    renderTable()
                })
            },
            status: function(uid, status){
                ns.silent('{:url("sysUserStatus")}?id=' + uid, {status: status?1:0});
            }
        };

        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(status)', function(obj){
            active.status(obj.elem.getAttribute('data-id'), obj.elem.checked)
        }),

        // 监听搜索
        form.on('submit(LAY-user-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-user-table', {
                where: field
            });
        });
    });

    renderTable();
    // 渲染表格
    function renderTable() {
        layui.use(['table', 'form'], function () {
            var $ = layui.$ 
                ,form = layui.form 
                ,table = layui.table
                ,pageTable = table.render({
                    elem: "#LAY-user-table",
                    url: "{:url('sysUser')}",
                    cols: [
                        [{
                            field: "user_id",
                            title: "ID",
                            width: "6%"
                        }, {
                            field: "username",
                            title: "用户名",
                            width: 120
                        }, {
                            field: "realname",
                            title: "呢称",
                            width: 120
                        }, {
                            field: "group",
                            title: "所属组",
                            width: 120,
                            templet: '#userGroup'
                        }, {
                            field: "status",
                            title: "状态",
                            width: 120,
                            templet: '#userStatus'
                        }, {
                            field: "lastlogin_time",
                            title: "最后登录",
                        }, {
                            field: "lastonline_time",
                            title: "最后在线",
                        }, {
                            field: "create_time",
                            title: "创建时间",
                        }, {
                            title: "操作",
                            width: 150,
                            fixed: "right",
                            toolbar: "#actionTpl"
                        }]
                    ],
                    response: {
                        msgName: 'message'
                    },
                    parseData: function(res) {
                        return {
                            code: res.code,
                            msg: res.message,
                            count: res.data.count,
                            data: res.data.list
                        }
                    },
                    page: !0,
                    limit: 20,
                    height: "full-220",
                    text: "对不起，加载出现异常！",
                });

                table.on("tool(LAY-user-table)", function(e) {
                    if ("del" === e.event) {
                        layer.confirm('您确定要删除该管理员？', {
                            title: '友情提示',
                            icon: 3,
                            btn: ['是的', '再想想']
                        }, function(i) {
                            layer.close(i),
                            ns.silent("{:url('sysUserDelete')}", {id: e.data.user_id}, res => {
                                if (res.code == 0) {
                                    setTimeout(() => pageTable.reload(), 100)
                                } else {
                                    layer.alert(res.message)
                                }
                            })
                        });
                    } else if ("edit" === e.event) {
                        ns.open("{:url('sysUserEdit')}?id=" + e.data.user_id, '编辑管理员').then(() => {
                            pageTable.reload()
                        })
                    }
                });
        });
    }
</script>
{/block}