{extend name="base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                <ul class="layui-tab-title">
                    {if checkAccess('sysLogsLogin')}<li{if $rule=='sysLogsLogin'} class="layui-this"{/if}><a href="{:url('sysLogsLogin')}">账户登录</a></li>{/if}
                    {if checkAccess('sysLogsOperator')}<li{if $rule=='sysLogsOperator'} class="layui-this"{/if}><a href="{:url('sysLogsOperator')}">操作事件</a></li>{/if}
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto layui-form-filter">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: auto;">时间</label>
                                    <div class="layui-input-block" style="margin-left: 60px;">
                                        <input type="text" name="date" id="date" class="layui-input" readonly />
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">搜索</label>
                                    <div class="layui-input-block">
                                        <input type="hidden" name="type" value="{$type}" />
                                        <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <table id="LAY-user-table" lay-filter="LAY-user-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/html" id="username">
    <span>{{d.params.username}}</span>
</script>
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var $ = layui.$ ,form = layui.form ,table = layui.table;
        // 监听搜索
        form.on('submit(LAY-user-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-user-table', {
                where: field
            });
        });
    });

    renderTable();
    // 渲染表格
    function renderTable() {
        layui.use(['table', 'form', 'laydate'], function () {
            var $ = layui.$ 
                ,form = layui.form 
                ,table = layui.table
                ,laydate = layui.laydate
                ,pageTable = table.render({
                    elem: "#LAY-user-table",
                    where: { type: "{$type}" },
                    url: "{:url('sysLogs')}",
                    cols: [
                        [{
                            field: "id",
                            title: "ID",
                            width: "6%"
                        }, {
                            field: "username",
                            title: "用户",
                            width: 140,
                            templet: function(d) {
                                return d.params.username;
                            }
                        }, {
                            field: "create_time",
                            title: "时间",
                            width: 180
                        }, {
                            field: "content",
                            title: "明细",
                        }]
                    ],
                    response: {
                        msgName: 'message'
                    },
                    parseData: function(res) {
                        return {
                            code: res.code,
                            msg: res.message,
                            count: res.data.count,
                            data: res.data.list
                        }
                    },
                    done: function() {
                        ns.page = this.page.curr;
                    },
                    page: !0,
                    limit: 20,
                    height: "full-220",
                    text: "对不起，加载出现异常！",
                });

                laydate.render({
                    elem: '#date',
                    range: '~'
                }),

                table.on("tool(LAY-user-table)", function(e) {
                    if ("del" === e.event) {
                        parent.layer.confirm('您确定要删除该用户组？', {
                            title: '友情提示',
                            icon: 3,
                            btn: ['是的', '再想想']
                        }, function(i) {
                            parent.layer.close(i),
                            ns.silent("{:url('sysGroupDelete')}", {id: e.data.group_id}, res => {
                                if (res.code == 0) {
                                    setTimeout(() => pageTable.reload(), 100)
                                } else {
                                    layer.alert(res.message)
                                }
                            })
                        });
                    } else if ("edit" === e.event) {
                        ns.open("{:url('sysGroupEdit')}?id=" + e.data.group_id, '编辑用户组').then(() => {
                            pageTable.reload();
                        })
                    }
                });
        })
    }
</script>
{/block}