{extend name="base" /}
{block name="body"}
<div class="layui-fluid page-logs-template-form">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 0px!important;">
            <form class="layui-form" action="" lay-filter="component-form-element" style="padding: 15px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">模板名称</label>
                    <div class="layui-input-block">
                        {if $info.id}
                        <input type="text" name="title" value="{$info.title}" class="layui-input layui-disabled" readonly />
                        {else}
                        <input type="text" name="title" value="{$info.title}" required placeholder="日志模板的标题" lay-verify="required" autocomplete="off" class="layui-input">
                        {/if}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模板标识</label>
                    <div class="layui-input-block">
                        {if $info.id}
                        <input type="text" name="name" value="{$info.name}" class="layui-input layui-disabled" readonly />
                        {else}
                        <input type="text" name="name" value="{$info.name}" required placeholder="标识，请确保标识的唯一性" lay-verify="required" autocomplete="off" class="layui-input">
                        {/if}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模板内容</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="content">{$info.content}</textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 0px;">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script>
    layui.config({ base: '/static/admin/' }).use([ 'form', 'laytpl', 'table'], function(){
        var $ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        ,form = layui.form
        ,table = layui.table;
        form.on('submit(component-form-element)', function(obj) {
            ns.wost(location.href, obj.field, res => {
                ns.close(res)
            });
            return false;
        })
    });
</script>
{/block}