{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .layui-btn-group {
            font-size: 0%!important;
        }
        .layui-table-box button {
            font-size: 12px!important;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <form class="layui-tab-item layui-form layui-show" style="margin-top: 10px;" id="form1" enctype="application/x-www-form-urlencoded" method="POST">
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <label class="layui-form-label">搜索内容</label>
                    <div class="layui-input-inline">
                        <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input" lay-affix="clear" lay-filter="keyword" />
                    </div>
                </div>
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <label class="layui-form-label">收款时间</label>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - ">
                    </div>
                </div>
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <input type="hidden" name="export" id="export" value="" />
                    <span class="layui-btn-group">
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            搜索结果
                        </button>
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-filter="LAY-list-back-export" lay-submit>
                            <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>
                            导出记录
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}

{block name="scripts"}
<script type="text/html" id="user-toolbar">
    <div id="toolbar-totalmoney" style="display: none;">
        <span class="layui-btn layui-btn-sm layui-btn-primary layui-border-blue">
            收款金额：
            <font id="vl_pay_money">{{= pay_money}}</font>
        </span>

        <span class="layui-btn layui-btn-sm layui-btn-primary layui-border-blue">
            优惠金额：
            <font id="vl_discount_money">{{= discount_money}}</font>
        </span>
    </div>
</script>

<script type="text/html" id="user-createTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="user-avatar">
    <img src="{{ d.avatar }}" style="width: 30px;height: 30px;border-radius: 50%">
</script>

<!---->
<script>
    var pay_money = 0
    ,discount_money = 0;

    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form', 'laydate'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laydate = layui.laydate
        ,pageTable;

        form.render();

        var active = {
            setTotal(data) {
                var e = $('#toolbar-totalmoney');
                if (data.pay_money > 0) {
                    e.find("#vl_pay_money").text(data.pay_money),
                    e.find("#vl_discount_money").text(data.discount_money),
                    e.show()
                }
                total_count = data.count;
            }
        };

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: location.href,
                toolbar: '#user-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {title: '收款时间', field: 'pay_time', width: 160},
                    {title: '订单号', field: 'trade_no', width: 140},
                    {title: '客户名', field: 'customer', width: 160},
                    {title: '收款金额', field: 'pay_money', width: 100},
                    {title: '优惠金额', field: 'discount_money', width: 100},
                    {title: '操作员', field: 'operator', width: 110},
                    {title: '备注说明', field: 'remark', templet: function(data) {
                        return data.pay_info.remark;
                    }}
                ]],
                parseData: function(res) {
                    active.setTotal(res.data);
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function() {
                    ns.page = this.page.curr;
                },
                page: !0,
                limit: 20,
                limits: [20, 50, 200, 500, 1000, 5000],
                height: "full-220",
                text: "对不起，加载出现异常！"
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("tool(LAY-list-table)", function(e) {
                active[e.event] ? active[e.event].call(this, e) : '';
            });
        }

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-list-table', {
                where: field,
                page: {
                    curr: 1
                }
            });
            return false;
        }),

        form.on('submit(LAY-list-back-export)', function(obj) {
            $("#export").val("1"),
            setTimeout(() => $("#export").val(""), 1000)
        }),

        // 搜索时间
        laydate.render({ elem: '#search_time', type: 'datetime', range: true }),
        renderTable();
    })
</script>
{/block}