.layui-layout-body {
  overflow: auto;
}
.layui-card-header .btn-group .layui-btn {
  padding-left: 2.3rem!important;
  position: relative;
}
.layui-card-header .btn-group .layui-icon {
  left: 10px;
  top: 43%!important;
  right: unset!important;
}
.layuiadmin-card-list p.layuiadmin-big-font {
  font-size: 1.2rem!important;
}
.layui-icon-components {
  clear: both;
}
.layui-icon-components i.layui-icon {
  font-size: 1.6rem;
  display: block;
  margin-bottom: .16rem;
}
.layui-icon-components dd {
  display: inline-block;
  width: 20%;
  font-size: .8em;
  min-width: 70px;
  text-align: center;
  float: left;
  padding: .6rem 0;
}
.layui-icon-components dd cite {
  font-size: .7rem;
}
.layui-icon-components dd:hover {
  background-color: #f0f0f0;
}
.layui-icon-components dd:hover a {
  color: #333;
}
.layui-icon-components::after {
  content: ' ';
  display: block;
  clear: both;
}
.layui-form-filter {
  padding: 12px!important;
  background-color: #f7f7f7;
  border-bottom: 0px;
  margin-bottom: 6px;
}
.layui-form-filter + .layui-table-view {
  border-radius: 3px;
}
.layui-form-filter .layui-inline {
  margin-bottom: 0px!important;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px!important;
}
::-webkit-scrollbar-track-piece {
  background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px!important;
  background-color: #999!important;
}

.layui-input, .layui-select {
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}
.image-uploader > .inner {
  height: 3rem;
}
.image-uploader .item {
  width: 3rem;
  height: 3rem;
  position: relative;
  text-align: center;
  line-height: 3rem;
  background-color: #e7e7e7;
  border-radius: 6px;
  font-size: 1rem;
  border: 1px solid #eee;
  display: inline-block;
}
.image-uploader .item .layui-icon {
  font-size: 18px;
}
.image-uploader .item img {
  max-width: 100%;
  max-height: 100%;
}
.image-uploader .operation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0,0,0,.3);
}
.layui-card-body {
  padding: 20px!important;
}
.layui-form-label {
  padding: 6.5px 14px;
}
.layui-input-block {
  min-height: 32px;
}
.layui-input, .layui-select {
  height: 32px;
  line-height: 32px;
}

.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
  border-color: rgb(190, 196, 206)!important;
}

.layui-table {
  min-width: 100%!important;
}
.layui-table-body {
  overflow-y: scroll!important;
}
.layui-table-header th:last-child {
  padding-right: 7px!important;
}

.layui-table-click,.layui-table-hover,.layui-table[lay-even] tbody tr:nth-child(even) {
	background-color: #d4dbec!important;
}

.layui-table-header, .layui-table-header th {
  background-color: #d4d8e1!important;
}

.layui-form-mx .layui-input-wrap .layui-input {
  padding-right: 0px;
}
.layui-form-mx .layui-form-item .layui-inline {
  margin-right: 0px;
}
.layui-form-mx .layui-form-item {
  margin-bottom: 5px!important;
}

@media screen and (min-width:768px) {
  .layui-header .layui-layout-right {
    padding-right: .6rem;
  }
}

@media screen and (min-width: 992px) {
  .layui-col-md375 {
    width: 37.5%;
  }
  .layui-col-md625 {
    width: 62.5%;
  }
}