{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-form layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                <ul class="layui-tab-title">
                    <li><a href="{:url('tipoff')}">全部记录</a></li>
                    <li><a href="{:url('tipoffList', ['id' => 0])}">待处理</a></li>
                    <li><a href="{:url('tipoffList', ['id' => 1])}">已处理</a></li>
                    <li class="layui-this"><a>举报明细</a></li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show" style="margin-top: 10px; background-color: #f7f7f7; padding: 15px; border-radius: 4px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">文件/目录名</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.source_name}</div>
                            </div>
                        </div>
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">储存类型</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.source_type?'文件':'目录'}</div>
                            </div>
                        </div>
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属用户</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.member.username}</div>
                            </div>
                        </div>
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">链接地址</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid"><a href="{$info.source_url}" target="_blank">{$info.source_url}</a></div>
                            </div>
                        </div>
                  
                        <hr size="0" color="#fefefe" />
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">举报类型</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.type}</div>
                            </div>
                        </div>
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系方式</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.contact}</div>
                            </div>
                        </div>
                  
                        <div class="layui-form-item">
                            <label class="layui-form-label">举报理由</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid">{$info.content}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}