{extend name="base" /}
{block name="resources"}
<style>
    .page-member-form .layui-tab-content {
        padding: 15px 15px 0 0!important;
    }
    .page-member-form .layui-card {
        padding-bottom: 5px;
    }
    .layui-number {
        width: 60px; 
        display: inline-block; 
        text-align: center; 
        margin-right: 6px;
    }
    .layui-number:not(:first-of-type) {
        margin-left: 6px;
    }
    .order-delivery .layui-elem-quote.title span {
        margin-right: 12px;
    }
    .order-delivery .layui-number {
        text-align: left;
        width: 100%;
    }
    .layui-btn-fill {
        padding: 0px!important;
        margin: -1px;
    }
    .layui-btn-fill .layui-btn {
        width: 100%;
    }
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li><a href="{:url('order')}">全部订单</a></li>
                    <li class="layui-this"><a>订单配送</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-card order-delivery">
        <form class="layui-card-body layui-form" method="POST" enctype="application/x-www-form-urlencoded">
            <blockquote class="layui-elem-quote title">
                <p>
                    <span>订单号：{$order.trade_no}</span>
                    <span>录单人员：{$order.user.username}</span>
                    <span>总金额：{$order.order_money}</span>
                    <span>优惠金额：{$order.discount_money}</span>
                    <span>实际金额：{:number_format($order['order_money'] - $order['discount_money'], 2, '.', '')}</span>
                    <span>已付金额：{$order.pay_money}</span>
                </p>
            </blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col width="160">
                    <col>
                    <col width="120">
                    <col width="120">
                    {if $order.status < 2}
                    <col width="120">
                    {/if}
                </colgroup>
                <thead> 
                    <tr>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>规格</th>
                        <th>加工费</th>
                        <th>已送数量</th>
                        {if $order.status < 2}
                        <th>本次配送数量</th>
                        {/if}
                    </tr> 
                </thead> 
                <tbody id="order-content">
                    {foreach $order.goods as $goods}
                    <tr>
                        <td>{$goods.category}</td>
                        <td>{$goods.craft}</td>
                        <td>{$goods.width|floatval}mm X {$goods.height|floatval}mm X {$goods.num} = {:round($goods.area*$goods.num,2)}m² X {$goods.unitprice}元 = {$goods.order_money}元</td>
                        <td>{$goods.manual}元</td>
                        <td>{$goods.deductnum}</td>
                        {if $order.status < 2}
                        <td>
                            {if $goods.max > 0}
                            <input type="number" name="num[{$goods.id}]" data-id="{$goods.id}" data-max="{$goods.max}" lay-filter="delivery-num" placeholder="0" class="layui-input layui-number" />
                            {else}
                            配送完成
                            {/if}
                        </td>
                        {/if}
                    </tr>
                    {/foreach}
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="4">总计：</td>
                        <td><span>{$order.deductnum}</span></td>
                        {if $order.status < 2}
                        <td><span id="totalNum">--.--</span></td>
                        {/if}
                    </tr>
                    {if $order.status < 2}
                    <tr>
                        <td colspan="6" class="layui-btn-fill">
                            <button type="button" class="layui-btn" lay-filter="form1" lay-submit>生成配送单</button>
                        </td>
                    </tr>
                    {/if}
                </tfoot>
            </table>
        </form>
    </div>

    {foreach $order.delivery as $delivery}
    <div class="layui-card order-delivery">
        <form class="layui-card-body layui-form">
            <blockquote class="layui-elem-quote title">
                <p>
                    <span>配送号：{$delivery.trade_no}</span>
                    <span>配送时间：{$delivery.create_time}</span>
                    <span>配送数量：{$delivery.delivery_num}</span>
                    <span>配送金额：{$delivery.delivery_money}</span>
                    <span>加工金额：{$delivery.manual_money}</span>
                </p>
            </blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col width="160">
                    <col>
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead> 
                    <tr>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>规格</th>
                        <th>加工费</th>
                        <th>配送数量</th>
                    </tr> 
                </thead> 
                <tbody id="order-content">
                    {foreach $delivery.goods as $goods}
                    <tr>
                        <td>{$goods.category}</td>
                        <td>{$goods.craft}</td>
                        <td>{$goods.width|floatval}mm X {$goods.height|floatval}mm X {$goods.num} = {:round($goods.area*$goods.num,2)}m² X {$goods.unitprice}元 = {$goods.delivery_money}元</td>
                        <td>{$goods.manual_money}元</td>
                        <td>{$goods.num}</td>
                    </tr>
                    {/foreach}
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="2">
                            <input type="checkbox" name="manual" value="1" data-id="{$delivery.id}" lay-filter="delivery" title="打印价格" lay-skin="tag" /> 
                            <span style="margin-left: 36px;">总计应收：{:round($delivery.delivery_money + $delivery.manual_money, 2)}元</span>
                        </td>
                        <td><span>{$delivery.delivery_money}元</span></td>
                        <td><span>{$delivery.manual_money}元</span></td>
                        <td><span>{$delivery.delivery_num}</span></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="layui-btn-fill">
                            <input type="hidden" name="delivery_data" value='{:json_encode($delivery, JSON_UNESCAPED_UNICODE)}' />
                            <button type="button" class="layui-btn layui-btn-normal" lay-filter="print" lay-submit>打印配送单</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
    {/foreach}

</div>
{/block}
{block name="scripts"}
<script>
    var printUrl = "{:url('orderPrint')}";

    layui.config({ base: '/static/admin/' }).use(['form', 'laytpl', 'table'], function(){
        var $ = layui.$, goodsNums = {}, form = layui.form;

        $('input[lay-filter="delivery-num"]').on("input propertychange", function() {
            var id = this.getAttribute("data-id")
            , num = parseInt(this.value)
            , total = 0
            , max = parseInt(this.getAttribute("data-max"));
            num = isNaN(num) ? 0 : num;
            num > max && (num = max, this.value = num),
            goodsNums[id] = num;
            Object.values(goodsNums).forEach(v => total += v);
            document.getElementById("totalNum").innerText = total;
        }),

        form.on('submit(form1)', function(obj) {
            if (Object.values(goodsNums).length < 1) {
                return false;
            }

            parent.layer.prompt({title: '核算无误进行生成配送单？', formType: 2, value: '玻璃加工正常误差±2mm,如发现驶腐质量问题应在验收当天反映，逾期不予受理零'}, function(text, i){
                parent.layer.close(i),
                obj.field["remark"] = text,
                ns.silent(location.href, obj.field, res => {
                    if (res.code == 0) {
                        setTimeout(() => location.reload(), 100)
                    } else {
                        layer.alert(res.message)
                    }
                })
            });
        }),

        form.on('submit(print)', function(obj) {
            var data = JSON.parse(obj.field.delivery_data);
            window.open(printUrl + '?id=' + data.id + '&manual=' + (obj.field.manual || 0))
        })
    })
</script>
{/block}