{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .page-member-form .layui-tab-content {
            padding: 15px 15px 0 0!important;
        }
        .page-member-form .layui-card {
            padding-bottom: 5px;
        }
        .layui-number {
            width: 60px; 
            display: inline-block; 
            text-align: center; 
            margin-right: 6px;
        }
        .layui-number:not(:first-of-type) {
            margin-left: 6px;
        }
        .order-delivery .layui-elem-quote.title span {
            margin-right: 12px;
        }
        .order-delivery .layui-number {
            text-align: left;
            width: 100%;
        }
        .layui-btn-fill {
            padding: 0px!important;
            margin: -1px;
        }
        .layui-btn-fill .layui-btn {
            width: 100%;
        }
        .layui-table {
            width: 100%!important;
        }
        .cricel {
            border-radius: 18px;
            background-color: #16b777;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <form class="layui-tab-item layui-form layui-show" style="margin-top: 10px;" id="form1" enctype="application/x-www-form-urlencoded" method="POST">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">搜索内容</label>
                            <div class="layui-input-inline">
                                <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input" lay-affix="clear" lay-filter="keyword" />
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">配送时间</label>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - " readonly />
                            </div>
                          </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <input type="hidden" name="export" id="export" value="" />
                            <input type="hidden" name="is_trash" value="{$is_trash}" />
                            <span class="layui-btn-group">
                                <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    搜索结果
                                </button>
                                <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-filter="LAY-list-back-export" lay-submit>
                                    <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>
                                    导出记录
                                </button>
                                <button lay-submit lay-filter="LAY-list-print" id="btn-print-all" style="display: none;"></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="LAY-list-table" lay-filter="LAY-list-table" style="margin-bottom: 20px;"></div>
    <div class="layui-card order-delivery-page">
        <div class="layui-card-body">
            <div id="LAY-list-page" layer-filter="LAY-list-page"></div>
        </div>
    </div>
</div>
<script type="text/html" id="tpl_table_list">
    {{#  layui.each(d.list, function(index, v){ }}
    <div class="layui-card order-delivery">
        <form class="layui-card-body layui-form">
            <blockquote class="layui-elem-quote title">
                <p>
                    <span>配送号：{{= v.trade_no }}</span>
                    <span>配送时间：{{= v.create_time }}</span>
                    <span>配送数量：{{= v.delivery_num }}</span>
                    <span>配送金额：{{= v.delivery_money }}</span>
                    <span>加工金额：{{= v.manual_money }}</span>
                </p>
            </blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col width="160">
                    <col>
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead> 
                    <tr>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>规格</th>
                        <th>加工费</th>
                        <th>配送数量</th>
                    </tr> 
                </thead> 
                <tbody id="order-content">
                    {{#  layui.each(v.goods, function(index, goods){ }}
                    <tr>
                        <td>{{= goods.category }}</td>
                        <td>{{= goods.craft }}</td>
                        <td>{{= goods.umb }}</td>
                        <td>{{= goods.manual_money }}</td>
                        <td>{{= goods.num }}</td>
                    </tr>
                    {{#  }) }} 
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="2">
                            <input type="checkbox" name="manual" value="1" data-id="{{= v.id}}" lay-filter="delivery" title="打印价格" lay-skin="tag" /> 
                            <span style="margin-left: 36px;">总计应收：{{= v.total_money }}元</span>
                        </td>
                        <td><span>{{= v.delivery_money }}元</span></td>
                        <td><span>{{= v.manual_money }}元</span></td>
                        <td><span>{{= v.delivery_num }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="layui-btn-fill">
                            <input type="hidden" name="delivery_data" value="{{= JSON.stringify(v) }}" />
                            <button type="button" class="layui-btn layui-btn-normal" lay-filter="print" lay-submit>打印配送单</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
    {{#  }) }} 
</script>
{/block}
{block name="scripts"}
<script type="text/html" id="user-toolbar">
    <span class="layui-btn-group">
        {if checkAccess("orderDeliveryReceive")}
        <button class="layui-btn layui-btn-sm layui-btn-primary {{= selectData.length>0?'':'layui-disabled'}}" lay-event="receive" data-type="batch">
            <i class="layui-icon layui-icon-snowflake"></i>客户已签收
        </button>
        {/if}
        {if checkAccess("orderDeliveryPrint")}
        <button class="layui-btn layuiadmin-btn-admin layui-btn-sm layui-btn-primary {{= selectData.length>0?'layui-border-blue':'layui-disabled'}}" lay-event="print" data-type="batch">
            <i class="layui-icon layui-icon-print"></i>打印勾选配送单
        </button>
        <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" lay-event="printall" data-type="printall">
            <i class="layui-icon layui-icon-print"></i>打印全部配送单
        </button>
        {/if}
    </span>
</script>

<script type="text/html" id="col-delivery-status">
    {{# if(d.status == 0){ }}
    <span class="layui-badge layui-bg-blue">配送中</span>
    {{# }else if(d.status == 1){ }}
    <span class="layui-badge layui-bg-green">已签收</span>
    {{# } }}
</script>

<script type="text/html" id="col-trade_no">
    <a href="{:url('orderPrint')}?id={{ d.id }}&manual=1&print=no" target="_blank" style="color: #1e9fff;">{{ d.trade_no }}</a>
    {{# if (d.print_times > 0) { }}
    <i class="layui-badge cricel" title="已打印{{ d.print_times }}次">{{ d.print_times }}</i>
    {{# } }}
</script>

<script>
    var loader = null
    ,process
    ,failure = 0
    ,total = 0
    ,readyState = 0
    ,selectData = [];

    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form', 'laydate'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laydate = layui.laydate
        ,pids = []
        ,pcid = 0
        ,pageTable;

        var active = {
            init() {
                var data = this.getValue();
                if (data != null) {
                    top.layer.confirm('存在未完成的打印任务，是否继绩进行？', {icon: 3}, function(index){
                        top.layer.close(index),
                        requestPrint(data, 0)
                    }, function(){
                        active.setValue(null)
                    });
                }
            },
            getValue() {
                var value = sessionStorage.getItem("delivery.print");
                if (value) {
                    return JSON.parse(value);
                }
                return null;
            },
            setValue(value) {
                if (value == null) {
                    sessionStorage.removeItem("delivery.print");
                } else {
                    sessionStorage.setItem("delivery.print", JSON.stringify(value));
                }
            },
            print(o) {
                var id = o.config.id;
                var checkStatus = table.checkStatus(id);
                var data = active.getData(checkStatus.data);
                if (data.length > 0) {
                    top.layer.confirm('将要打印[' + data.length + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                        top.layer.close(index);
                        requestPrint(data, 0);
                    });
                }
            },
            printall(o) {
                top.layer.confirm('确认要打印所有匹配的配送单[' + ns.count + ']吗？', {icon: 3}, function(index){
                    top.layer.close(index),
                    $('#btn-print-all').trigger("click")
                })
            },
            getData(data) {
                var ds = {}, dates, total_money;
                data.length > 0 && data.forEach(v => {
                    dates = v.create_time.split(' ');
                    ds[v.id] = {
                        KH: v.customer,
                        DZ: v.address,
                        DD: v.trade_no,
                        RQ: dates[0],
                        MX: 0,
                        data: []
                    },
                    v.goods.forEach(d => {
                        total_money = parseFloat(d.manual_money) + parseFloat(d.delivery_money),
                        ds[v.id].data.push({
                            name: d.category + d.craft,
                            w: d.width,
                            h: d.height,
                            num: d.num,
                            area: d.area,
                            price: d.unitprice,
                            fee: d.manual_money,
                            total: total_money.toFixed(2),
                            desc: d.remark
                        })
                    })
                });
                pids = Object.keys(ds);
                return Object.values(ds)
            },
            receive(o) {
                var id = o.config.id;
                var checkStatus = table.checkStatus(id);
                var data = [];
                checkStatus.data.forEach(v => {
                    if (v.status != 1) {
                        data.push(v.id);
                    }
                }),
                data.length > 0 && parent.layer.confirm('是否确认【' + data.length + '】条配送单完成配送?', {
                    title: '友情提示',
                    icon: 3,
                    btn: ['是的', '再想想']
                }, function(i) {
                    parent.layer.close(i),
                    ns.silent("{:url('orderDeliveryReceive')}", {ids: data, status: 1}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                })
            }
        };

        function requestPrint(data, stage) {
            if (stage === 0) {
                loader = parent.layer.msg('<span id="process"></span>', { icon: 16, time: 86400, shade: [0.3, '#000'], success(dom) {
                    process = dom.find('#process'),
                    process.html('准备就绪..'),
                    total = data.length,
                    setTimeout(() => {
                        process.html('发送打印 1/' + total),
                        requestPrint(data, 1)
                    });
                } });
                return false;
            }
            if(total < stage) {
                active.setValue(null),
                setTimeout(() => parent.layer.close(loader), 2000);
                return false;
            }
            if (readyState === 1) {
                return false;
            }
            readyState = 1,

            $.ajax({
                url: 'http://127.0.0.1:31580/Printer2',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data[0]),
                processData: false,
                contentType: "application/json; charset=utf-8",
                complete: function(xhr) {
                    readyState = 0;
                    try {
                        var r = JSON.parse(xhr.responseText);
                        if (r.ret == 0) {
                            process.html('打印成功 ' + stage + '/' + total),
                            stage += 1,
                            failed = 0,
                            setTimeout(() => {
                                pcid = pids[0],
                                data.splice(0, 1),
                                pids.splice(0, 1),
                                active.setValue(data),
                                $.post("{:url('orderDeliveryPrint')}", {ids: pcid}),
                                requestPrint(data, stage)
                            }, 1000);
                        } else {
                            failure += 1;
                            if (failure > 4) {
                                parent.layer.close(loader),
                                parent.layer.alert(r.msg)
                            } else {
                                process.html('打印失败 ' + stage + '/' + total + ' 2秒后重试(' + failure + ')')
                                setTimeout(() => requestPrint(data, stage), 2000);
                            }
                        }
                    } catch (e) {
                        failure += 1;
                        process.html('打印失败 ' + stage + '/' + total + ' 2秒后重试(' + failure + ')')
                        if (failure > 4) {
                            setTimeout(() => {
                                parent.layer.close(loader),
                                parent.layer.alert(e.toString())
                            }, 1000)
                        } else {
                            setTimeout(() => requestPrint(data, stage), 2000)
                        }
                    }
                }
            });
        }

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: "{:url('delivery')}",
                toolbar: '#user-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {title: '配送时间', field: 'create_time', width: 160},
                    {title: '签收状态', field: 'status', width: 84, align: 'center', templet: "#col-delivery-status"},
                    {title: '客户名称', field: 'customer', width: 160},
                    {title: '配送单号', field: 'trade_no', width: 160, templet: "#col-trade_no"},
                    {title: '配送数量', field: 'delivery_num', width: 100},
                    {title: '配送总金额', field: 'total_money', width: 100},
                    {title: '配送地址', field: 'address'}
                ]],
                parseData: function(res) {
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function(res, curr, count) {
                    ns.page = curr;
                    ns.count = count;
                    active.init()
                },
                page: !0,
                limit: 20,
                limits: [20, 50, 200, 500, 1000, 5000],
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("tool(LAY-list-table)", function(e) {
                active[e.event] ? active[e.event].call(this, e) : '';
            }),

            table.on('checkbox(LAY-list-table)', function(e) {
                var id = e.config.id;
                var checkStatus = table.checkStatus(id);
                var btns = $('button[data-type="batch"]');
                selectData = checkStatus.data;
                if (selectData.length > 0) {
                    btns.removeClass("layui-disabled");
                    btns.addClass("layui-border-blue");
                } else {
                    btns.addClass("layui-disabled");
                    btns.removeClass("layui-border-blue");
                }
            })
        }

        laydate.render({ elem: '#search_time', type: 'date', range: true }),

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-list-table', {
                where: field,
                page: {
                    curr: 1
                }
            });
            return false;
        }),

        form.on('submit(LAY-list-back-export)', function(obj) {
            top.layer.confirm('将导出[' + ns.count + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                top.layer.close(index),
                $("#export").val("1"),
                $("#form1").attr("action", "{:url('delivery')}?_=" + (new Date()).getTime()),
                setTimeout(() => $("#export").val(""), 1000);
                $("#form1").submit()
            });
            return false;
        }),


        form.on('submit(LAY-list-print)', function(obj) {
            var field = obj.field, loader = top.layer.load(2, { shade: ["#fff", .3] });
            field["print"] = 1;
            $.ajax({
                type: 'POST',
                url: "{:url('delivery')}",
                data: field,
                dataType: 'json',
                contentType: 'application/json',
                success: function(r) {
                    if (r.code == 0) {
                        top.layer.close(loader);
                        var data = active.getData(r.data.list);
                        requestPrint(data, 0);
                    } else {
                        top.layer.close(loader);
                        top.layer.msg(r.message);
                    }
                }
            });
            return false;
        }),
        form.render();
        renderTable();
    });
</script>
{/block}