{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .page-member-form .layui-tab-content {
            padding: 15px 15px 0 0!important;
        }
        .page-member-form .layui-card {
            padding-bottom: 5px;
        }
        .layui-number {
            width: 60px; 
            display: inline-block; 
            text-align: center; 
            margin-right: 6px;
        }
        .layui-number:not(:first-of-type) {
            margin-left: 6px;
        }
        .order-delivery .layui-elem-quote.title span {
            margin-right: 12px;
        }
        .order-delivery .layui-number {
            text-align: left;
            width: 100%;
        }
        .layui-btn-fill {
            padding: 0px!important;
            margin: -1px;
        }
        .layui-btn-fill .layui-btn {
            width: 100%;
        }
        .layui-table {
            width: 100%!important;
        }
        .cricel {
            line-height: 20px;
            height: 18px;
            overflow: hidden;
            border-radius: 18px;
            zoom: .8;
            text-align: center;
            font-weight: normal;
            background-color: #16b777;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-form layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                <ul class="layui-tab-title">
                    <li{if $is_trash==0} class="layui-this"{/if}><a href="{:url('delivery')}">全部配送单</a></li>
                    <li{if $is_trash==1} class="layui-this"{/if}><a href="{:url('delivery', ['is_trash' => 1])}">已作廢</a></li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show" style="margin-top: 10px;">
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px; display: none;">
                            <label class="layui-form-label">搜索类型</label>
                            <div class="layui-input-inline">
                                <select name="search_type" lay-verify="required" class="layui-select">
                                    <option value="trade_no">订单编号</option>
                                    <option value="nickname">客户名称</option>
                                    <option value="address">配送地址</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">搜索内容</label>
                            <div class="layui-input-inline">
                                <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input" lay-affix="clear"/>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">配送时间</label>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - ">
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <input type="hidden" name="page" value="1" id="list-page" />
                            <input type="hidden" name="is_trash" value="{$is_trash}" />
                            <input type="hidden" name="page" id="page" value="1" />
                            <span class="layui-btn-group">
                                <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    搜索结果
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="LAY-list-table" lay-filter="LAY-list-table" style="margin-bottom: 20px;"></div>
    <div class="layui-card order-delivery-page">
        <div class="layui-card-body">
            <div id="LAY-list-page" layer-filter="LAY-list-page"></div>
        </div>
    </div>
</div>
<script type="text/html" id="tpl_table_list">
    {{#  layui.each(d.list, function(index, v){ }}
    <div class="layui-card order-delivery">
        <form class="layui-card-body layui-form">
            <blockquote class="layui-elem-quote title">
                <p>
                    <span>
                        配送号：{{= v.trade_no }}
                        {{# if (v.print_times > 0) { }}
                        <span class="layui-badge cricel" title="已打印{{= v.print_times }}次">{{= v.print_times }}</span>
                        {{# } }}
                    </span>
                    <span>客户名称：{{= v.nickname }}</span>
                    <span>配送时间：{{= v.create_time }}</span>
                    <span>配送数量：{{= v.delivery_num }}</span>
                    <span>配送金额：{{= v.delivery_money }}</span>
                    <span>加工金额：{{= v.manual_money }}</span>
                </p>
            </blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col width="160">
                    <col>
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead> 
                    <tr>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>规格</th>
                        <th>加工费</th>
                        <th>配送数量</th>
                    </tr> 
                </thead> 
                <tbody id="order-content">
                    {{#  layui.each(v.goods, function(index, goods){ }}
                    <tr>
                        <td>{{= goods.category }}</td>
                        <td>{{= goods.craft }}</td>
                        <td>{{= goods.umb }}</td>
                        <td>{{= goods.manual_money }}</td>
                        <td>{{= goods.num }}</td>
                    </tr>
                    {{#  }) }} 
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="2">
                            <input type="checkbox" name="manual" value="1" data-id="{{= v.id}}" lay-filter="delivery" title="打印价格" lay-skin="tag" /> 
                            <span style="margin-left: 36px;">总计应收：{{= v.total_money }}元</span>
                        </td>
                        <td><span>{{= v.delivery_money }}元</span></td>
                        <td><span>{{= v.manual_money }}元</span></td>
                        <td><span>{{= v.delivery_num }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="layui-btn-fill">
                            <input type="hidden" name="delivery_data" value="{{= JSON.stringify(v) }}" />
                            <button type="button" class="layui-btn layui-btn-normal" lay-filter="print" lay-submit>打印配送单</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
    {{#  }) }} 
</script>
{/block}
{block name="scripts"}
<script type="text/html" id="print_pop">
    <div class="layui-card" style="box-shadow: none;">
        <div class="layui-form layui-card-body" style="padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">配送记录</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-text-em">共有记录 419 条</div>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="manual" value="1" lay-filter="print-price" title="打印价格" lay-skin="tag" /> 
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="sendprint" disabled>开始打印</button>
                    <button type="submit" class="layui-btn layui-btn-primary" lay-filter="cancel">取消</button>
                </div>
            </div>
            <div style="margin-top: 36px;">
                <div class="layui-progress" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="30%"></div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    var printUrl = "{:url('orderPrint')}";

    layui.config({ base: '/static/admin/' }).use(['table', 'form', 'laydate', 'laytpl', 'laypage', 'element'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laytpl = layui.laytpl
        ,element = layui.element
        ,laypage = layui.laypage
        ,pageTable
        ,laydate = layui.laydate
        ,init = 0
        ,poper;

        // 渲染表格
        function renderTable(filter) {
            $.ajax({
                url: location.href,
                type: 'POST',
                data: filter,
                dataType: 'json',
                beforeSend: () => layer.load(2, { shade: ['#fff', .2] }),
                success(r) {
                    layer.closeAll();
                    if (r.code != 0) {
                        layer.msg(r.message);
                    } else {
                        init === 0 && (init = 1,laypage.render({
                            elem: 'LAY-list-page',
                            count: r.data.count,
                            jump(obj, first) {
                                !first && ($('#list-page').val(obj.curr),
                                $('button[lay-filter="LAY-list-back-search"]').trigger('click'))
                            }
                        })),
                        laytpl(document.getElementById("tpl_table_list").innerHTML).render(r.data, function(context) {
                            $("#LAY-list-table").html(context),
                            form.render()
                        })
                    }
                }
            })
        }

        // 搜索时间
        laydate.render({ elem: '#search_time', type: 'date', range: true }),

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            renderTable(field);
        }),

        // 监听打印
        form.on('submit(LAY-list-print)', function(data) {
            var field = data.field, html, readyState = 0;
            field['print'] = 1;
            html = laytpl(document.getElementById("print_pop").innerHTML).render(field),
            poper = top.layer.open({
                type: 1,
                title: "打印配送单",
                area: ['500px', '240px'],
                shade: 0.6,
                shadeClose: false,
                content: html,
                cancel() {
                    return false;
                },
                success(dom) {
                    form.render(),
                    element.render(),
                    dom.find('button[lay-filter="cancel"]').on('click', function() {
                        if (readyState === 0) {
                            top.layer.close(poper)
                        }
                    })
                }
            })
        }),

        form.on('submit(print)', function(obj) {
            var data = JSON.parse(obj.field.delivery_data);
            window.open(printUrl + '?id=' + data.id + '&manual=' + (obj.field.manual || 0))
        })

        $('button[lay-filter="LAY-list-back-search"]').trigger("click")
    })
</script>
{/block}