{extend name="base" /}
{block name="resources"}
<style>
    .page-member-form .layui-tab-content {
        padding: 15px 15px 0 0!important;
    }
    .page-member-form .layui-card {
        padding-bottom: 5px;
    }
    .layui-number {
        width: 60px; 
        display: inline-block; 
        text-align: center; 
        margin-right: 6px;
    }
    .layui-number:not(:first-of-type) {
        margin-left: 6px;
    }
    .order-delivery .layui-elem-quote.title span {
        margin-right: 12px;
    }
    .order-delivery .layui-elem-quote.title span.layui-badge {
        margin-left: -12px;
    }
    .order-delivery .layui-number {
        text-align: left;
        width: 100%;
    }
    .layui-btn-fill {
        padding: 0px!important;
        margin: -1px;
    }
    .layui-btn-fill .layui-btn {
        width: 100%;
    }
    .layui-bg-green, .bg-green {
        background-color: rgb(1, 129, 1)!important;
    }
    .layui-bg-green1 {
        background-color: rgb(93, 122, 78)!important;
    }
    .layui-bg-dark {
        background-color: rgb(119, 120, 119)!important;
    }
    .layui-bg-red {
        background-color: rgb(175, 1, 1)!important;
    }
    .layui-table {
        width: 100%!important;
    }
    .detail-title {
        position: relative;
    }
    .cricel {
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 12px;
        zoom: .8;
        background-color: #16b777;
    }
    .text-center {
        text-align: center!important;
    }
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li><a href="{:url('order')}">全部订单</a></li>
                    <li class="layui-this"><a>订单明细</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-card order-delivery">
        <form class="layui-card-body layui-form" method="POST" enctype="application/x-www-form-urlencoded">
            <blockquote class="layui-elem-quote title">
                <p class="detail-title">
                    <button type="button" class="layui-btn layui-btn-default layui-btn-sm" style="margin-right: 12px;" onclick="history.back();">
                        <i class="layui-icon layui-icon-return"></i>返回
                    </button>
                    <span>订单号：{$order.trade_no}</span>
                    <span>客户名称：{$order.customer}</span>
                    {if $order.is_trash}
                    <span class="layui-badge layui-bg-dark">已作废</span>
                    {/if}
                    <span>录单人员：{$order.user.username}</span>
                    <span>总金额：{$order.order_money}</span>
                    <span>优惠金额：{$order.discount_money}</span>
                    <span>实际金额：{:number_format($order['order_money'] - $order['discount_money'], 2, '.', '')}</span>
                    <span>已付金额：{$order.pay_money}</span>
                </p>
            </blockquote>
            <table class="layui-table">
                <colgroup>
                    <col width="50">
                    <col>
                    <col width="160">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="140">
                </colgroup>
                <thead> 
                    <tr>
                        <td colspan="10" class="layui-btn-fill">
                            <div class="layui-btn-group" style="width: 100%;">
                                <input type="hidden" name="delivery_data" id="delivery_data_{$order.id}" value='{:json_encode($order, JSON_UNESCAPED_UNICODE)}' />
                                <button type="button" class="layui-btn layui-btn-normal" lay-filter="form1" lay-submit>打印所有标签</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">#</th>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>宽</th>
                        <th>高</th>
                        <th>面积</th>
                        <th>单价</th>
                        <th>加工费</th>
                        <th>数量</th>
                        <th></th>
                    </tr> 
                    <!-- <tr>
                        <th lay-data="{field:'id', hide: true}">#</th>
                        <th lay-data="{field:'type', hide: true}"></th>
                        <th lay-data="{field:'print_label', hide: true}"></th>
                        <th lay-data="{field:'is_delete', hide: true}"></th>
                        <th lay-data="{field:'category', sort:true, templet: '#col-category'}">品类名称</th>
                        <th lay-data="{field:'craft', width:160, sort:true, templet: '#col-craft'}">工艺</th>
                        <th lay-data="{field:'width', width:120, sort:true, templet: '#col-width'}">宽(mm)</th>
                        <th lay-data="{field:'height', width:120, sort:true, templet: '#col-height'}">高(mm)</th>
                        <th lay-data="{field:'area', width:120, sort:true}">面积(m²)</th>
                        <th lay-data="{field:'unitprice', width:120, sort:true}">单价(元)</th>
                        <th lay-data="{field:'manual_money', width:120, sort:true, templet: '#col-manual'}">加工费(元)</th>
                        <th lay-data="{field:'num', width:100, sort:true}">数量</th>
                        <th lay-data="{field:'deductnum', width:100, sort:true}">已配送</th>
                        <th lay-data="{field:'operator', width:140, templet: '#col-operator'}"></th>
                    </tr> -->
                </thead>
                <tbody id="order-content">
                    {foreach $order.goods as $key => $goods}
                    <tr>
                        <td class="text-center">{$key+1}</td>
                        <td>
                            {if $goods.print_label > 0}
                            <span class="layui-badge cricel" title="已打印{$goods.print_label}次">{$goods.print_label}</span>
                            {/if}
                            {$goods.category}
                            {if $goods.type == 1}
                            <span class="layui-badge layui-bg-cyan" title="后续编辑订单添加">加</span>
                            {/if}
                            {if $goods.type == 2}
                            <span class="layui-badge layui-bg-blue" title="补单">补</span>
                            {/if}
                            {if $goods.type == 3}
                            <span class="layui-badge layui-bg-cyan" title="后续编辑订单添加">加</span>
                            <span class="layui-badge layui-bg-blue" title="补单">补</span>
                            {/if}
                        </td>
                        <td>{$goods.craft}</td>
                        <td>{$goods.width|floatval}mm</td>
                        <td>{$goods.height|floatval}mm</td>
                        <td>{$goods.area}m²</td>
                        <td>{$goods.unitprice}元</td>
                        <td>{$goods.manual_money}元</td>
                        <td>{$goods.num}</td>
                        <td>
                            <div class="layui-btn-group">
                                <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-filter="print" data-id="{$goods.id}" data-orderid="{$order.id}">打印标签</button>
                                <button type="button" class="layui-btn layui-btn-xs layui-btn-black" lay-filter="smentary" data-id="{$goods.id}" data-orderid="{$order.id}">补单</button>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="10">
                            <span>总计应收：</span>
                            <span>{$order.order_money}元</span>
                            <span> + </span>
                            <span>{$order.manual_money}元</span>
                            <span> = </span>
                            <span>{:round($order.order_money + $order.manual_money, 2)}元</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/html" id="col-category">
    {{ d.category }}
    {{# if(d.print_label > 0) { }}
    <span class="layui-badge" title="已打印{{ d.print_label }}次">{{ d.print_label }}</span>
    {{# } }}
    {{# if(d.type == 1) { }}
    <span class="layui-badge layui-bg-cyan" title="后续编辑订单添加">加</span>
    {{# } }}
    {{# if(d.type == 2) { }}
    <span class="layui-badge layui-bg-blue" title="补单">补</span>
    {{# } }}
</script>

<script type="text/html" id="col-craft">
    {{ d.craft }}
</script>

<script type="text/html" id="col-width">
    {{ d.width }}
</script>

<script type="text/html" id="col-height">
    {{ d.height }}
</script>

<script type="text/html" id="col-manual">
    {{ d.manual_money }}
</script>

<script type="text/html" id="pop-smentary">
    <div class="layui-form" style="width: 460px; padding-right: 40px;">
        <div class="layui-form-item">
            <label class="layui-form-label">补单数</label>
            <div class="layui-input-block">
                <input type="number" name="num" value="1" placeholder="0" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" placeholder="补单备注说明"></textarea>
            </div>
        </div>

        <div class="layui-form-item" style="margin-bottom: 0px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">确认</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="component-form-cancel">取消</button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="col-operator">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-filter="print" data-id="{{ d.id }}" data-orderid="{{ d.order_id }}">打印标签</button>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-black" lay-filter="smentary" data-id="{{ d.id }}" data-orderid="{{ d.order_id }}">补单</button>
    </div>
</script>
{/block}
{block name="scripts"}
<script>
    var goodsList = {:json_encode($order["goods"], JSON_UNESCAPED_UNICODE)};

    layui.config({ base: '/static/admin/' }).use(['form', 'laytpl', 'table', 'util'], function(){
        var $ = layui.$, goodsNums = {}, form = layui.form, util = layui.util, table = layui.table, laytpl = layui.laytpl, poper, poperField;

        function getPrintArr(data, id) {
            var result = {};
            id = id || 0,
            result.ids = [];
            result.data = [],
            data.goods.forEach(v => {
                if (id == v.id || id == 0) {
                    if (v.type == 0) {
                        result.data.push({
                            KH: data.customer,
                            DD: data.out_trade_no,
                            MC: v.category,
                            GG: parseFloat(v.width) + "宽X" + parseFloat(v.height) + "高=" + v.num + "/" + data.order_num,
                            GY: v.craft,
                            XH: v.remark
                        }),
                        result.ids.push(v.id);
                    }
                }
            });
            return result;
        }

        function requestPrint(rds) {
            var loader = parent.layer.load(2, { shade: ['#fff', .3] }), ds = {
                data: rds.data
            };
            $.ajax({
                url: 'http://127.0.0.1:31580/Printer',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(ds),
                processData: false,
                contentType: "application/json; charset=utf-8",
                complete: function(xhr) {
                    parent.layer.close(loader);
                    var r = JSON.parse(xhr.responseText);
                    if (r.ret == 0) {
                        parent.layer.msg("SUCCESS");
                        $.post("{:url('orderGoodsPrint')}", {ids: rds.ids});
                    } else {
                        parent.layer.alert(r.msg)
                    }
                }
            });
        }

        form.on('submit(form1)', function(obj) {
            var field = JSON.parse(obj.field.delivery_data) ,data = getPrintArr(field);
            requestPrint(getPrintArr(field));
        }),

        $('button[lay-filter="print"]').on("click", function(e) {
            var that = $(this), field = JSON.parse($("#delivery_data_" + that.data("orderid")).val());
            requestPrint(getPrintArr(field, that.data("id")));
        }),

        $('button[lay-filter="smentary"]').on("click", function(e) {
            var that = $(this), field = {}, content;
            goodsList.forEach(v => {
                if (v.id == that.data("id")) {
                    field.goods = v
                }
            });
            if (field == null) {
                return parent.layer.alert("错误：无匹配补单数据!");
            }
            content = laytpl(document.getElementById("pop-smentary").innerHTML).render({}),
            poperField = field,
            poper = parent.layer.open({
                title: '补单',
                move: false,
                content: content,
                btn: [],
                success(layero, index) {
                    parent.layui.form.render();
                    parent.layui.form.on("submit(component-form-element)", function(obj) {
                        poperField["num"] = obj.field.num,
                        poperField["remark"] = obj.field.remark,
                        poperField["filt"] = "smentary";
                        ns.silent(location.href, poperField, res => {
                            if (res.code == 0) {
                                parent.layer.close(poper),
                                setTimeout(() => location.reload(), 100)
                            } else {
                                layer.alert(res.message)
                            }
                        })
                    }),

                    parent.layui.form.on("submit(component-form-cancel)", function(obj) {
                        parent.layer.close(poper);
                    })
                }
            })
        }),

        table.init('parse-table-demo', {
            done(res) {
                console.log(res);
                table.on("toolbar(parse-table-demo)", function(e) {
                    console.log(e);
                })
            }
        }),
        table.on('edit(parse-table-demo)', function(obj) {
            console.log(obj);
            // 更新单元格
        });
    })
</script>
{/block}