{extend name="base" /}
{block name="resources"}
<style>
    .page-member-form .layui-tab-content {
        padding: 15px 15px 0 0!important;
    }
    .page-member-form .layui-card {
        padding-bottom: 5px;
    }
    .layui-number {
        width: 60px; 
        display: inline-block; 
        text-align: center; 
        margin-right: 6px;
    }
    .layui-number:not(:first-of-type) {
        margin-left: 6px;
    }
    .layui-table {
        width: 100%!important;
    }
    .layui-table td.edit {
        padding: 0px!important;
    }
    .layui-table td.edit .label-unitprice {
        padding: 9px 15px;
        display: block;
        border: 1px solid transparent!important;
    }
    .layui-table td.edit:hover .label-unitprice {
        cursor: text;
        border-color: #16b777!important;
    }
    .layui-table td.edit.focus .layui-number {
        width: 100%;
        height: 40px;
        text-align: left;
        border: 1px solid #16b777!important;
    }
    .layui-table .layui-input {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .layui-table button,
    .layui-table .layui-input-fill,
    .layui-table .layui-form-select {
        margin: -10px -10px;
    }
    .layui-order-form {
        min-width: 1024px;
    }
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card layui-order-form">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li><a href="{:url('order')}">全部订单</a></li>
                    {if isset($order['customer_id'])}
                    <li><a href="{:url('orderAdd')}">新增订单</a></li>
                    <li class="layui-this"><a style="color: #1e9fff;">编辑订单</a></li>
                    {else}
                    <li class="layui-this"><a href="{:url('orderAdd')}">新增订单</a></li>
                    {/if}
                </ul>
                <div class="layui-tab-content">
                    <form
                        action=""
                        class="layui-form layui-tab-item layui-show"
                        style="margin-top: 10px;"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        {if isset($order['customer_id'])}
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">客户名称</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="id" value="{$order.id ?? 0}" />
                                <select class="layui-select" name="customer_id" id="customer_id" lay-verify="required" lay-filter="customer" lay-search>
                                    {foreach $customers as $customer}
                                    {if isset($order['customer_id']) && $order['customer_id'] == $customer['id']}
                                    <option
                                        value="{$customer.id}"
                                        data-category='{$customer.category|raw}'
                                        data-minarea="{$customer.minarea|floatval}"
                                        selected="selected"
                                    >{$customer.nickname}</option>
                                    {/if}
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" value="{$order.trade_no}" disabled />
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" value="{$order.create_time|date='Y-m-d H:i'}" disabled />
                            </div>
                        </div>
                        {else}
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">客户名称</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="id" value="{$order.id ?? 0}" />
                                <select class="layui-select" name="customer_id" id="customer_id" lay-verify="required" lay-filter="customer" lay-search>
                                    <option value=""></option>
                                    {foreach $customers as $customer}
                                    <option
                                        value="{$customer.id}"
                                        data-category='{$customer.category|raw}'
                                        data-minarea="{$customer.minarea|floatval}"
                                    >{$customer.nickname}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        {/if}
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-filter="form1" lay-submit>
                                <i class="layui-icon layui-icon-release layuiadmin-button-btn"></i>
                                提交订单
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card layui-order-form">
        <div class="layui-card-body layui-form" style="padding: 15px 10px!important;">
            <table class="layui-table">
                <colgroup>
                    <col width="42" />
                    <col width="200" />
                    <col width="160" />
                    <col width="80" />
                    <col />
                    <col width="160" />
                    <col width="100" />
                    <col width="100" />
                </colgroup>
                <thead> 
                    <tr> 
                        <th>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="add">
                                <i class="layui-icon layui-icon-addition"></i>
                            </button>
                        </th>
                        <th>品类名称</th>
                        <th>工艺</th>
                        <th>加工费</th>
                        <th>玻璃面积（单位m² = 宽 X 高）X 数量</th>
                        <th>备注</th>
                        <th>单价(元)</th>
                        <th>合计金额</th>
                    </tr> 
                </thead> 
                <tbody id="order-content">
                    {foreach $order.goods as $goods}
                    <tr id="item_{$goods.id}">
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" lay-delete>
                                <i class="layui-icon layui-icon-delete"></i>
                            </button>
                        </td>
                        <td>
                            <select name="category_id[{$goods.id}]" data-name="category" class="layui-select" lay-filter="category">
                                {foreach $categorys as $category}
                                {if $goods.category_id == $category.id}
                                <option value="{$category.id}" selected="selected">{$category.category}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </td>
                        <td>
                            <select name="craft_id[{$goods.id}]" data-name="craft" class="layui-select" lay-filter="craft">
                                {foreach $crafts as $craft}
                                {if $goods.craft == $craft.craft}
                                <option value="{$craft.id}" selected="selected">{$craft.craft}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </td>
                        <td> 
                            <input type="number" name="manual[{$goods.id}]" data-name="manual" placeholder="0.00" class="layui-input layui-number layui-input-fill" value="{$goods.manual}" />
                        </td>
                        <td> 
                            <input type="number" name="width[{$goods.id}]" data-name="width" value="{$goods.width}" placeholder="宽" class="layui-input layui-number" /> X
                            <input type="number" name="height[{$goods.id}]" data-name="height" value="{$goods.height}" placeholder="高" class="layui-input layui-number" /> X
                            <input type="number" name="num[{$goods.id}]" data-name="num" data-min="{$goods.deductnum}" value="{$goods.num}" placeholder="数量" class="layui-input layui-number" /> =
                            <input type="hidden" name="area[{$goods.id}]" data-name="area" value="{$goods.area}" />
                            <span class="area">
                                <font class="label-area">{$goods.area}</font>m² X 
                                <font class="label-unitprice">{$goods.unitprice}</font>元 = 
                                <font class="label-price">{$goods.order_money}</font>元
                            </span>
                        </td>
                        <td>
                            <input type="text" name="remark[{$goods.id}]" data-name="remark" value="{$goods.remark}" placeholder="" class="layui-input layui-text layui-input-fill" />
                        </td>
                        <td>
                            <span class="label-unitprice">{$goods.unitprice}</span>
                        </td>
                        <td>&yen;
                            <span class="label-price">{$goods.order_money}</span>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
                <tfoot>
                    <tr style="background-color:#f7f7f7;">
                        <td colspan="7">总计：</td><td>&yen;
                        <span id="row_count">
                            {$order.order_money??'--.--'}
                        </span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script id="row" type="text/html">
    <tr id="item_{{ d.id }}"> 
        <td>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" lay-delete>
                <i class="layui-icon layui-icon-delete"></i>
            </button>
        </td>
        <td>
            <select name="category_id[{{ d.id }}]" data-name="category" class="layui-select" lay-filter="category" lay-search>
                <option value=""></option>
                {foreach $categorys as $category}
                <option value="{$category.id}">{$category.category}</option>
                {/foreach}
            </select>
        </td>
        <td>
            <select name="craft_id[{{ d.id }}]" data-name="craft" class="layui-select" lay-filter="craft" lay-search>
                <option value=""></option>
                {foreach $crafts as $craft}
                <option value="{$craft.id}">{$craft.craft}</option>
                {/foreach}
            </select>
        </td>
        <td> 
            <input type="number" name="manual[{{ d.id }}]" data-name="manual" placeholder="0.00" class="layui-input layui-number layui-input-fill" />
        </td>
        <td> 
            <input type="number" name="width[{{ d.id }}]" data-name="width" placeholder="宽" class="layui-input layui-number" /> X
            <input type="number" name="height[{{ d.id }}]" data-name="height" placeholder="高" class="layui-input layui-number" /> X
            <input type="number" name="num[{{ d.id }}]" data-name="num" value="1" data-min="1" placeholder="数量" class="layui-input layui-number" /> =
            <input type="hidden" name="area[{{ d.id }}]" data-name="area" value="0" />
            <span class="area">
                <font class="label-area">--.--</font>m² X 
                <font class="label-unitprice">--.--</font>元 = 
                <font class="label-price">--.--</font>元
            </span>
        </td>
        <td>
            <input type="text" name="remark[{{ d.id }}]" data-name="remark" placeholder="" class="layui-input layui-text layui-input-fill" />
        </td>
        <td>
            <span class="label-unitprice">--.--</span>
            <input type="number" class="layui-input layui-number undefined-price" data-id="{{ d.id }}" placeholder="0.00" style="display: none;" />
        </td>
        <td>&yen;
            <span class="label-price">--.--</span>
        </td>
    </tr>
</script>
<script>
    var customer = "{$customer}"
    ,customer_id = "{$customer_id}"
    ,craft_id = "{$craft_id}"
    ,category_id = "{$category_id}"
    ,min_length = 5
    ,category = {$customer_category|raw}

    ,customer_minarea = {$customer_minarea|floatval}

    ,data = {$data|raw};

    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laytpl', 'table'], function(){
        var $ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        ,form = layui.form
        ,table = layui.table
        ,tableButton
        ,flag = 0
        ,context = $('#order-content');

        function float(val) {
            val = parseFloat(val);
            if (isNaN(val)) {
                return 0;
            }
            return val;
        }

        function getPrice(cid) {
            if (typeof(category[cid]) == "undefined") {
                return 0;
            }
            return float(category[cid]);
        }

        function priceUpdate() {
            var total = 0;
            Object.values(data).forEach(v => {
                total += v.price
            }),
            $('#row_count').text(total)
        }

        function handleListenerEdit(_l) {
            var that = $(this);
            that.addClass('focus'),
            _l.show(),
            _l.prev().hide(),
            _l.focus(),
            _l.one("blur", function () {
                if (flag != 0)return false;
                that.removeClass('focus'),
                _l.unbind('blur'),
                _l.hide(),
                _l.prev().show(),
                flag = 1;

                var _v = float(_l.val()), field = {};
                if (_v < 0) {
                    _l.val(0);
                    return;
                }
                var loader = parent.layer.load(2, { shade: ['#fff', .3] });
                field['id'] = _l.data("id"),
                field['customer_id'] = customer_id,
                field['category_id'] = data[field.id]['category_id'],
                field['value'] = _v;
                $.ajax({
                    url: "{:url('memberCategoryUpdate')}",
                    type: 'POST',
                    data: field,
                    dataType: 'json',
                    complete: () => {
                        parent.layer.close(loader),
                        flag = 0
                    },
                    success(r) {
                        if (r.code != 0) {
                            parent.layer.msg(r.message);
                        } else {
                            data[field.id]['unitprice'] = _v,
                            category[field.category_id] = _v,
                            _l.prev().text(_v)
                        }
                    }
                })
            })
        }

        function handleListener(id) {
            var rid = "#item_" + id;

            context.find(rid).find('input[type="text"]').on("input propertychange", function() {
                var that = $(this);
                data[id][that.data("name")] = that.val();
            }),
            context.find(rid).find('button[lay-delete]').on('click', function() {
                delete data[id];
                context.find(rid).remove()
            }),
            context.find(rid).find('input[type="number"]').on("focus", function() {
                this.select()
            }).on("input propertychange", function() {
                var that = $(this).parent().parent()
                ,_w = that.find('input[data-name="width"]')
                ,_h = that.find('input[data-name="height"]')
                ,_n = that.find('input[data-name="num"]')
                ,_m = that.find('input[data-name="manual"]')
                ,_a = that.find('input[data-name="area"]')
                ,_r = that.find('input[data-name="remark"]')
                ,_l = that.find(".undefined-price");

                if (this.getAttribute("data-name") == "num") {
                    var $this = $(this), _v = float($this.val()), _i = float($this.data("min"));
                    if (_v < _i) {
                        $this.val(_i)
                    }
                }

                if (data[id]["unitprice"] == 0 && data[id]['category_id'] != 0) {
                    _l.parent().addClass("edit"),_l.parent().attr("data-edit", "text"),_l.parent().on("click", function() {
                        handleListenerEdit.call(this, _l)
                    })
                } else {
                    _l.parent().removeClass("edit"),_l.parent().unbind()
                }

                data[id]['width'] = float(_w.val())
                ,data[id]['height'] = float(_h.val())
                ,data[id]['num'] = float(_n.val())
                ,data[id]['manual'] = float(_m.val())
                ,data[id]['area'] = Math.round(float(data[id]['width'] * data[id]['height']) / 10000) / 100
                ,data[id]['area'] = data[id]['area'] < customer_minarea ? customer_minarea : data[id]['area']
                ,data[id]['price'] = Math.round((float(data[id]['area'] * data[id]['num'] * data[id]['unitprice']) + (data[id]['manual'] * data[id]['num'])) * 100) / 100
                ,data[id]['remark'] = _r.val()
                ,data[id]['status'] = 1
                ,_w.val(data[id]['width'])
                ,_h.val(data[id]['height'])
                ,_n.val(data[id]['num'])
                ,_a.val(data[id]['area'])
                ,that.find(".label-area").text(Math.round(data[id]['area'] * data[id]['num'] * 100) / 100)
                ,that.find(".label-unitprice").text(data[id]['unitprice'])
                ,that.find(".label-price").text(data[id]['price'])
                ,priceUpdate()
            }),
            form.render()
        }

        function addGoods() {
            var id = (new Date()).getTime()
            ,rid = "#item_" + id
            ,templet = layui.laytpl(document.getElementById("row").innerHTML).render({ id: id });

            data[id] = {width: 0, height: 0, num: 0, manual: 0, unitprice: 0, price: 0, category_id: 0, craft_id: 0, status: 0, remark: ''},
            data[id]["unitprice"] = getPrice(category_id),
            context.append(templet),
            handleListener(id)
        }

        tableButton = $('.layui-table').find('button[lay-filter="add"]').on("click", () => addGoods()),

        form.on("select(customer)", function(obj) {
            customer_id = obj.value,
            obj.elem.childNodes.forEach((v,i) => {
                if (v.value == obj.value) {
                    category = JSON.parse(v.getAttribute("data-category"));
                    customer = v.innerText;
                    customer_minarea = parseFloat(v.getAttribute("data-minarea"));
                    if (isNaN(customer_minarea)) {
                        parent.layer.msg("错误：下单的客户默认单件最小面积错误!");
                        return false;
                    }
                }
            }),

            Object.keys(data).forEach(function (id) {
                data[id]['unitprice'] = getPrice(data[id]['category_id']);
                $("#item_" + id).find('input[data-name="num"]').trigger("input")
            })
        }),

        form.on("select(category)", function(obj) {
            if (customer == null) {
                parent.layer.msg("错误：请选择要下单的客户!");
                return false;
            }

            var title = "";
            obj.elem.childNodes.forEach((v,i) => {
                if (v.value == obj.value) {
                    title = v.innerText;
                }
            });

            var that = $(obj.elem).parent().parent(), id = that.attr("id").replace('item_', '');
            if (typeof(category[obj.value]) == "undefined") {
                // parent.layer.msg("错误：客户" + customer + "未定义" + title + "单价!");
                // return false;
                category[obj.value] = 0;
            }

            data[id]['unitprice'] = float(category[obj.value]),
            data[id]['category_id'] = obj.value,

            that.find('input[data-name="num"]').trigger("input")
        }),

        form.on("select(craft)", function(obj) {
            var that = $(obj.elem).parent().parent(), id = that.attr("id").replace('item_', '');
            data[id]['craft_id'] = obj.value;
        }),

        form.on('submit(form1)', function(obj) {
            obj.field["goods"] = [];
            Object.values(data).forEach(function(v) {
                if ((v.status && v.category_id != 0 && v.craft_id != 0 && v.width != 0 && v.height != 0) || v.id) {
                    obj.field["goods"].push(v)
                }
            });
            
            if (obj.field["goods"].length <= 0) {
                parent.layer.msg("入单不能为空订单！");
                return false;
            }

            ns.wost(location.href, obj.field, res => {
                if (res.code == 0) {
                    location.replace("/admin/order.html");
                }
            });
            return false;
        }),

        Object.keys(data).forEach(id => handleListener(id)),
        form.render();

        if (data < min_length) {
            for(var i = data.length; i < min_length; i++) {
                tableButton.trigger("click")
            }
        } else {
            tableButton.trigger("click")
        }
    });
</script>
{/block}