{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .layui-bg-green, .bg-green {
            background-color: rgb(1, 129, 1)!important;
        }
        .layui-bg-primary {
            background-color: #16baaa!important;
        }
        .layui-bg-green1 {
            background-color: rgb(93, 122, 78)!important;
        }
        .layui-bg-dark {
            background-color: rgb(119, 120, 119)!important;
        }
        .layui-bg-red {
            background-color: rgb(175, 1, 1)!important;
        }
        .layui-badge:hover {
            color: white !important;
        }
        .cricel {
            border-radius: 18px;
            background-color: #16b777;
            zoom: .77;
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .layui-table-fixed-r .layui-table-header {
            margin-right: -7px;
        }
        .layui-table-fixed .layui-table-body {
            overflow: hidden !important;
        }
        .layui-hover-block:hover {
            background-color: #f8ebde;
            cursor: pointer;
        }
        .layui-dropdown {
            background-color: #16ba60!important;
            border-color: #16ba60;
            border-radius: 4px;
        }
        .layui-menu {
            box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
            background-color: #16ba60!important;
        }
        .layui-menu-body-title {
            padding: 2px 12px;
            font-size: 12.6666px !important;
            color: white!important;
        }
        .layui-menu li:hover {
            background-color: #2bd477!important;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <form class="layui-form layui-tab layui-tab-brief" lay-filter="component-tabs-brief" id="form1" name="form1" method="POST" action="{:url('orderList', ['id' => $status_id])}" enctype="application/x-www-form-urlencoded">
                {if checkAccess("orderList")}
                <ul class="layui-tab-title">
                    <li{if $status_id=='all'} class="layui-this"{/if}><a href="{:url('order')}">全部订单</a></li>
                    <li{if $status_id==0 && $status_id!='all'} class="layui-this"{/if}><a href="{:url('orderList', ['id' => 0])}">待配送</a></li>
                    <li{if $status_id==1} class="layui-this"{/if}><a href="{:url('orderList', ['id' => 1])}">配送中</a></li>
                    <li{if $status_id==2} class="layui-this"{/if}><a href="{:url('orderList', ['id' => 2])}">已完成</a></li>
                    <li{if $status_id==3} class="layui-this"{/if}><a href="{:url('orderList', ['id' => 3])}">已作廢</a></li>
                    <li{if $status_id==4} class="layui-this"{/if}><a href="{:url('orderList', ['id' => 4])}">待收款</a></li>
                </ul>
                {/if}
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show" style="margin-top: 10px;">
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px; display: none;">
                            <label class="layui-form-label">搜索类型</label>
                            <div class="layui-input-inline">
                                <select name="search_type" lay-verify="required" class="layui-select">
                                    <option value="trade_no">订单编号</option>
                                    <option value="nickname">客户名称</option>
                                    <option value="address">配送地址</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">搜索内容</label>
                            <div class="layui-input-inline">
                                <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input" lay-affix="clear"/>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <label class="layui-form-label">下单时间</label>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - " readonly />
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                            <input type="hidden" name="export" id="export" value="" />
                            <span class="layui-btn-group">
                                <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    搜索结果
                                </button>
                                <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-filter="LAY-list-back-export" lay-submit>
                                    <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>
                                    导出记录
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/html" id="user-toolbar">
    <span class="layui-btn-group" style="margin-left: -15px;">
        {if checkAccess("orderAdd")}
        <button class="layui-btn layui-btn-sm layui-btn-normal layuiadmin-btn-admin" lay-event="add" data-type="add">
            <i class="layui-icon layui-icon-add-1"></i>新增订单
        </button>
        {/if}
        {if checkAccess("orderDeliveryUpdate")}
        <button class="layui-btn layui-btn-sm layui-btn-primary {{= selectData.length>0?'':'layui-disabled'}}" id="btn-batch-delivery" lay-event="deliveryComplete" data-type="batch">
            <i class="layui-icon layui-icon-snowflake"></i>配送完成
        </button>
        {/if}
        {if checkAccess("orderPay")}
        <button class="layui-btn layui-btn-sm layui-btn-primary {{= selectData.length>0?'':'layui-disabled'}}" lay-event="payComplete" data-type="batch">
            <i class="layui-icon layui-icon-note"></i>付款完成
        </button>
        {/if}
    </span>

    <span id="checkstatus-bar" style="margin-left: 15px; display: none;">
        <span class="layui-btn layui-btn-sm layui-btn-primary layui-border-blue">
            订单金额：
            <font id="vl_ordermoney">--.--</font>
        </span>
    </span>
</script>

<script type="text/html" id="user-bar">
    <div class="layui-btn-group">
        {if checkAccess("orderDetail")}<a class="layui-badge layui-bg-blue" lay-event="detail" href="javascript:void(0);">详情</a>{/if}
        <a class="layui-badge layui-bg-primary layui-dropmenu" id="dropdown-{{d.id}}" href="javascript:void(0);">
            <span>操作</span><i class="layui-icon layui-icon-down layui-font-12"></i>
        </a>
        {{# if (d.status != 0) { }}
            {{# if (d.delivery_status == 2) { }}
                {if checkAccess("orderDelivery")}<a class="layui-badge layui-bg-green1" lay-event="delivery" href="javascript:void(0);">已配送</a>{/if}
            {{# } else if (d.delivery_status == 1) { }}
                {if checkAccess("orderDelivery")}<a class="layui-badge layui-bg-green1" lay-event="delivery" href="javascript:void(0);">配送中{{ d.process }}%</a>{/if}
            {{# } }}
        {{# } else { }}
            {{# if (d.delivery_status == 0) { }}
                {if checkAccess("orderDelivery")}<a class="layui-badge layui-bg-dark" lay-event="delivery" href="javascript:void(0);">待配送0%</a>{/if}
            {{# } else if (d.delivery_status == 1) { }}
                {if checkAccess("orderDelivery")}<a class="layui-badge layui-bg-green1" lay-event="delivery" href="javascript:void(0);">配送中{{ d.process }}%</a>{/if}
            {{# } }}
        {{# } }}
    </div>
</script>

<script type="text/html" id="order-status">
    {{#if (d.status == -1) { }}
    <span class="layui-badge layui-bg-dark">已作废</span>
    {{# }else if(d.status == 0){ }}
    <span class="layui-badge layui-bg-blue">进行中</span>
    {{# }else if(d.status == 1){ }}
    <span class="layui-badge layui-bg-green1">已配送</span>
    {{# }else if(d.status == 2){ }}
    <span class="layui-badge layui-bg-green">已完成</span>
    {{# } }}
</script>

<script type="text/html" id="order-tradeno">
    {{ d.trade_no }}
    {{# if (d.supplement_num > 0) { }}
    <span class="layui-badge cricel">补</span>
    {{# } }}
</script>

<script type="text/html" id="delivery-status">
    {{# if(d.delivery_status == 0){ }}
    <span class="layui-badge layui-bg-dark">待配送</span>
    {{# }else if(d.delivery_status == 1){ }}
    <span class="layui-badge layui-bg-blue">配送中</span>
    {{# }else if(d.delivery_status == 2){ }}
    <span class="layui-badge layui-bg-green">已完成</span>
    {{# } }}
</script>

<script type="text/html" id="pay-status">
    {{#if (d.pay_status == 0) { }}
    <span class="layui-badge layui-bg-dark" lay-event="reward">待收款</span>
    {{# }else if(d.pay_status == 1){ }}
    <span class="layui-badge layui-bg-blue" lay-event="reward">收款中</span>
    {{# }else if(d.pay_status == 2){ }}
    <span class="layui-badge layui-bg-green" lay-event="reward">已收款</span>
    {{# } }}
</script>

<script type="text/html" id="pop-reward">
    <div class="layui-form layui-form-mx" id="pop-dialog-reward" style="width: 620px; padding-right: 40px;" lay-filter="reward">
        <input type="hidden" name="id" value="{{d.id}}" />
        <div class="layui-form-item">
            <div class="layui-inline layui-hover-block" lay-active="copy" data-value="{{d.order_money}}" data-pay="{{d.pay_money}}">
                <label class="layui-form-label">应收金额</label>
                <div class="layui-input-inline layui-input-wrap">
                    <span>&yen; {{d.order_money}}</span>
                    <span class="layui-icon layui-icon-down" style="float: right;"></span>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">已收金额</label>
                <div class="layui-input-inline layui-input-wrap">
                    <span>&yen; {{d.pay_money}}</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收款数额</label>
            <div class="layui-input-inline">
                <input type="number" name="money" placeholder="0.00" step="0.01" autocomplete="off" class="layui-input" data-pay="{{d.pay_money}}" data-value="{{d.order_money}}" />
            </div>
            <div class="layui-form-mid layui-text-em">
                <span class="layui-badge layui-bg-gray">提示：收款+已收 不能大于应收金额</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">补充说明</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" placeholder="补充备注说明" style="min-height: 60px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收款状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="status" title="已完成" lay-skin="tag" value="2" />
            </div>
            <div class="layui-form-mid layui-text-em">
                <span class="layui-badge">提示：收款+已收=订单金额，收款状态自动完成</span>
            </div>
        </div>

        <div class="layui-form-item" style="margin-bottom: 0px; margin-top: 25px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">确认提交</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="component-form-cancel">取消</button>
            </div>
        </div>
    </div>
</script>
<!---->
<script>
    var selectData = [], active, accessEdit = {:checkAccess("orderEdit")?1:0}, accessDelete = {:checkAccess("orderDelete")?1:0};

    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form', 'laydate', 'dropdown'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laydate = layui.laydate
        ,pageTable
        ,isLoaded = false
        ,dropdown = layui.dropdown;
        active = {
            add: function() {
                location.href = "{:url('orderAdd')}";
            },
            trash: function(e) {
                parent.layer.confirm("确认要作废本单吗，作废后无法恢复！",  {icon: 3, title:'提示'}, index => {
                    parent.layer.close(index);
                    var loader = parent.layer.load(2, { shade: ["#fff", .3] });
                    ns.silent("{:url('orderTrash')}", {id: e.data.id}, res => {
                        parent.layer.close(loader);
                        if (res.code == 0) {
                            setTimeout(() => renderTable(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                })
            },
            delivery: function(e) {
                location.href = "{:url('orderDelivery')}?order_id=" + e.data.id
            },
            detail: function(e) {
                location.href = "{:url('orderDetail')}?order_id=" + e.data.id
            },
            edit: function(e) {
                location.href = "{:url('orderEdit')}?order_id=" + e.data.id
            },
            delete: function(e) {
                parent.layer.confirm('您确定要删除该订单记录？本操作不可逆', {
                    title: '友情提示',
                    icon: 3,
                    btn: ['是的', '再想想']
                }, function(i) {
                    parent.layer.close(i),
                    ns.silent("{:url('orderDelete')}", {id: e.data.id}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                });
            },
            copy: function(e) {
                location.href = "{:url('orderAdd')}?order_id=" + e.data.id
            },
            reward: function(e) {
                if (e.data.status == -1) {
                    return false;
                } else if (e.data.pay_status == 2) {
                    return active.reward_logs(e);
                }
                var that = $(this), field = {}, content;
                content = laytpl(document.getElementById("pop-reward").innerHTML).render(e.data),
                poper = parent.layer.open({
                    title: '订单收款【订单：' + e.data.trade_no + '】 【客户：' + e.data.customer + '】',
                    move: false,
                    content: content,
                    area: ['680px', '500px'],
                    btn: [],
                    success(layero, index) {
                        var autoFlag = false;
                        parent.layui.form.render(null, 'reward');
                        parent.layui.form.on("submit(component-form-element)", function(obj) {
                            ns.silent('{:url("orderPay")}?id=' + e.data.id, obj.field, res => {
                                if (res.code == 0) {
                                    parent.layer.close(poper),
                                    setTimeout(() => location.reload(), 100)
                                } else {
                                    layer.alert(res.message)
                                }
                            });
                            return false;
                        }),

                        layero.find('input[name="money"]').on('input propertychange', function() {
                            var value = parseFloat(this.value) || 0
                            , pay_money = parseFloat(this.getAttribute('data-pay').replace(",", "")) || 0
                            , order_money = parseFloat(this.getAttribute('data-value').replace(",", "")) || 0;
                            if (value < 0) {
                                this.value = "";
                                return false;
                            }
                            if (value + pay_money >= order_money) {
                                value = (order_money - pay_money).toFixed(2);
                                layero.find('input[type="checkbox"]').prop("checked", true),
                                this.value = value;
                                autoFlag = true;
                            } else if (autoFlag) {
                                layero.find('input[type="checkbox"]').prop("checked", false);
                            }
                            parent.layui.form.render(null, 'reward');
                        }),

                        parent.layui.form.on("submit(component-form-cancel)", function(obj) {
                            parent.layer.close(poper);
                        }),

                        parent.layui.util.event("lay-active", {
                            copy(e) {
                                var order_money = parseFloat(e.data("value").replace(",", "")) || 0, pay_money = parseFloat(e.data("pay").replace(",", "")) || 0;
                                layero.find('input[name="money"]').val(order_money - pay_money);
                                layero.find('input[name="money"]').trigger("input")
                            }
                        }),

                        layero.find('input[name="money"]').focus();
                    }
                })
            },
            deliveryComplete: function(e) {
                console.log(selectData);
                if (selectData.length < 1) {
                    return false;
                }

                var ids = [];
                selectData.forEach(v => {
                    if (v.delivery_status == 1) {
                        ids.push(v.id)
                    }
                });
                if (ids.length < 1) {
                    top.layer.msg("选择的行没有配送中、待配送记录");
                    return false;
                }

                top.layer.confirm('确认在将选中的记录[' + ids.length + ']条，变更为已配送吗？', {icon: 3}, function(index){
                    top.layer.close(index),
                    ns.silent("{:url('orderDeliveryUpdate')}", {ids: ids.join(','), status: 2}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                })
            },
            payComplete: function(e) {
                if (selectData.length < 1) {
                    return false;
                }

                var ids = [];
                selectData.forEach(v => {
                    if (v.pay_status < 2) {
                        ids.push(v.id)
                    }
                });
                if (ids.length < 1) {
                    top.layer.msg("选择的行没有收款中、待收款记录");
                    return false;
                }

                top.layer.confirm('确认在将选中的记录[' + ids.length + ']条，变更为已配送吗？', {icon: 3}, function(index){
                    top.layer.close(index),
                    ns.silent("{:url('orderPayUpdate')}", {ids: ids.join(','), status: 2}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                })
            },
            reward_logs: function(e) {
                ns.open("{:url('orderPayLogs')}?id=" + e.data.id, "客户[" + e.data.customer + '] 的订单[' + e.data.trade_no + '] 收款明细')
            },
            getDropdown: function(d) {
                let menu = [];
                if (d.status != 0) {
                    menu.push({title: "复制", id: "copy_" + d.id, event: 'copy', data: d });
                    accessEdit == 1 && menu.push({title: "编辑", id: "edit_" + d.id, event: 'edit', data: d, disabled: d.delivery_status == 2 });
                } else {
                    menu.push({title: "作废", id: "trash_" + d.id, event: 'trash', data: d });
                    accessEdit == 1 && menu.push({title: "编辑", id: "edit_" + d.id, event: 'edit', data: d, disabled: d.delivery_status == 2 });
                }
                accessDelete == 1 && menu.push({title: "删除", id: "del_" + d.id, event: 'delete', data: d });
                return menu;
            },
            dropdown: function(o, that) {
                active[o.event] ? active[o.event].call(that, o) : '';
            },
            referenceTableToolbar() {
                var bar = $('#checkstatus-bar'), totalmoney = 0, ids = [];
                if (selectData.length < 1) {
                    return bar.hide();
                }
                bar.show();
                selectData.forEach(v => {
                    ids.push(v.id),
                    v.order_money = parseFloat(v.order_money) || 0;
                    totalmoney += v.order_money;
                }),
                sessionStorage.setItem("order.checkStatus", ids.join(',')),
                bar.find('#vl_ordermoney').text(totalmoney.toFixed(2))
            }
        };

        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            sessionStorage.removeItem("order.checkStatus");
            sessionStorage.removeItem("order.page");
            table.reload('LAY-list-table', { 
                where: field,
                page: { curr: 1 }
            });
            return false;
        }),

        form.on('submit(LAY-list-back-export)', function(obj) {
            top.layer.confirm('将导出[' + ns.count + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                top.layer.close(index),
                $("#export").val("1"),
                setTimeout(() => $("#export").val(""), 1000);
                $("#form1").submit()
            });
            return false;
        }),

        $('.layui-input').on("input propertychange", function() {
            if (sessionStorage) {
                sessionStorage.setItem("order." + this.name, this.value);
            }
        }),

        laydate.render({ elem: '#search_time', type: 'date', range: true, done: function(value, date, endDate) {
            if (sessionStorage) {
                sessionStorage.setItem("order.search_time", value);
            }
        }});

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: "{:url('orderList', ['id' => $status_id])}",
                toolbar: '#user-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {title: '订单号', width: 120, templet: '#order-tradeno'},
                    {title: '客户名', field: 'customer', width: 110},
                    {title: '客户手机', field: 'mobile', width: 110, edit: function(d) {
                        if (d.mobile == '') {
                            return 'text';
                        }
                    }, event: "mobile"},
                    {title: '订单状态', field: 'status', align: 'center', templet: '#order-status', width: 82},
                    {title: '配送状态', field: 'delivery_status', align: 'center', templet: '#delivery-status', width: 82},
                    {title: '收款状态', field: 'pay_status', align: 'center', templet: '#pay-status', width: 82},
                    {title: '订单金额', field: 'order_money', width: 100},
                    {title: '已收金额', field: 'pay_money', width: 100, edit: function(d) {
                        if (d.pay_status != 2 && d.status != -1) {
                            return 'text';
                        }
                    }, event: "reward"},
                    {title: '优惠金额', field: 'discount_money', width: 100},
                    {title: '下单时间', field: 'create_time', align: 'center', width: 160},
                    {title: '操作', toolbar: '#user-bar', width: 230}
                ]],
                parseData: function(res) {
                    let ids = sessionStorage.getItem("order.checkStatus") || '';
                    ids = ids.split(','),
                    res.data.list.forEach((v, index) => {
                        res.data.list[index].LAY_DISABLED = v.status == 2 || v.status == -1,
                        res.data.list[index].LAY_CHECKED = ids.includes(v.id.toString()),
                        res.data.list[index].LAY_CHECKED && (selectData.push(v))
                    });
                    active.referenceTableToolbar();

                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function(res, curr, count) {
                    if (!isLoaded) {
                        isLoaded = true;
                        table.reload('LAY-list-table', { 
                            where: {
                                search_value: $('input[name="search_value"]').val(),
                                search_time: $('input[name="search_time"]').val()
                            },
                            page: {
                                curr: sessionStorage.getItem("order.page"),
                                limit: sessionStorage.getItem("order.limit")
                            }
                        });
                    } else {
                        ns.page = curr;
                        ns.count = count;
                        sessionStorage.setItem("order.page", curr),
                        sessionStorage.setItem("order.limit", this.limit)
                    }

                    res.data.forEach(d => {
                        layui.dropdown.render({
                            elem: '#dropdown-' + d.id,
                            data: active.getDropdown(d),
                            trigger: 'hover',
                            click: (o,t) => active.dropdown(o, t)
                        });
                    })
                },
                page: !0,
                limit: 20,
                limits: [20, 50, 200, 500, 1000, 5000],
                pagebar: '#pagebar',
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                console.log(o);
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("tool(LAY-list-table)", function(e) {
                console.log(e);
                active[e.event] ? active[e.event].call(this, e) : '';
            }),

            table.on("pagebar(LAY-list-table)", function(e) {
                console.log(e);
            }),

            table.on("edit(LAY-list-table)", function(e) {
                ns.silent("{:url('orderUpdate')}", {id: e.data.id, field: e.field, value: e.value}, res => {
                    if (res.code == 0) {
                        setTimeout(() => pageTable.reload(), 100)
                    } else {
                        top.layer.msg(res.message)
                    }
                })
            }),

            table.on('checkbox(LAY-list-table)', function(e) {
                var id = e.config.id;
                var checkStatus = table.checkStatus(id);
                var btns = $('button[data-type="batch"]');
                selectData = checkStatus.data;
                active.referenceTableToolbar();
                if (selectData.length > 0) {
                    btns.removeClass("layui-disabled");
                } else {
                    btns.addClass("layui-disabled");
                }
            })
        }

        window.addEventListener("load", function() {
            if (window.performance.navigation.type != 2) {
                isLoaded = true;
                sessionStorage.removeItem("order.search_value");
                sessionStorage.removeItem("order.search_time");
                sessionStorage.removeItem("order.checkStatus");
                sessionStorage.removeItem("order.page");
            }
            renderTable()
        }),
        window.addEventListener("pageshow", function() {
            if (sessionStorage && !isLoaded) {
                $('input[name="search_value"]').val(sessionStorage.getItem("order.search_value")),
                $('input[name="search_time"]').val(sessionStorage.getItem("order.search_time"))
            }
        }),

        // 搜索时间
        laydate.render({ elem: '#search_time', type: 'date', range: true });
    });

</script>
{/block}