{extend name="base" /}
{block name="resources"}
<style>
    html, body, * {
        color: #000000!important;
        font-family: "microsoft yahei";
    }
    .layui-table td, .layui-table th {
        text-align: center;
        padding: 2.25px 3.25px!important;
    }
    .layui-table {
        color: #000000;
        width: 100%!important;
        border-color: #000000!important;
        background-color: #000000!important;
        border-collapse: separate!important;
        border-spacing: 0px 0px!important;
        border-collapse: collapse;
        border-left: 1px solid #000000!important;
        border-top: 1px solid #000000!important;
    }
    .layui-table td,
    .layui-table th {
        border-color: transparent!important;
        background-color: white;
        border-bottom: 1px solid #000000!important;
        border-right: 1px solid #000000!important;
    }
    .layui-table th {
        background-color: #E7E7E7!important;
        border-bottom-width: 2px!important;
    }
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <h1 style="text-align: center; line-height: 60px; margin-bottom: 10px; margin-top: -20px;">
                <span style="display: inline-block; border-bottom: 2px solid #000000; color: #000000; line-height: 50px; margin-top: 10px;">{$option.site_title}送货清单</span>
            </h1>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    收货人：{$delivery.order.customer}<br />
                    收货地址：{$delivery.order.member.desc}
                </div>
                <div class="layui-col-xs6">
                    单号：{$delivery.order.trade_no}<br />
                    日期：{:date('Y年m月d日',strtotime($delivery['create_time']))}
                </div>
            </div>
            <table class="layui-table" width="100%" style="margin-top: 10px;" cellspacing="0" cellpadding="0">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>序号</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>产品名称</span></p>
                        </th>
                        <th colspan="2">
                        <p class="MsoNormal"><span>规格</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>数量</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>面积</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>单价</span></p>
                        </th>                   
                        <th rowspan="2">
                        <p class="MsoNormal"><span>加工费</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>金额</span></p>
                        </th>
                        <th rowspan="2">
                        <p class="MsoNormal"><span>备注</span></p>
                        </th>
                       </tr>
                       <tr>
                        <th>
                        <p class="MsoNormal"><span>宽</span><span lang="EN-US">mn</span></p>
                        </th>
                        <th>
                        <p class="MsoNormal"><span>高</span><span lang="EN-US">mm</span></p>
                        </th>
                       </tr>
                </thead>
                <tbody>
                {foreach $delivery.goods as $key => $goods}
                <tr>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{:$key+1}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.category}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.width|floatval}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.height|floatval}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.num|intval}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.area|floatval}m²</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{if $manual == 1}{$goods.unitprice}元{/if}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{if $manual == 1}{$goods.manual_money}元{/if}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{if $manual == 1}{$goods.delivery_money+$goods.manual_money}元{/if}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$goods.remark}</span></p>
                 </td>
                </tr>
                {/foreach}
                <tr>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">合计</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{$delivery.delivery_num}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{if $manual == 1}{$delivery.manual_money}元{/if}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">{if $manual == 1}{$delivery.delivery_money}元{/if}</span></p>
                 </td>
                 <td>
                 <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                 </td>
                </tr>
               </tbody>
            </table>
            <div class="layui-row" style="margin-top: 12px;">
                <div class="layui-col-xs12">
                    注：{$delivery.remark}
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    地址：{$option.site_address}<br />
                    电话：{$option.site_contact}
                </div>
                <div class="layui-col-xs6">
                    收货人：<br />
                    收货日期：
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script>
    var delivery = {:json_encode($delivery, JSON_UNESCAPED_SLASH)};

    layui.config({ base: '/static/admin/' }).use(['index', 'form', 'laytpl', 'table'], function(){
        function getPrintArr(data, id) {
            var result = {};
            id = id || 0,
            result.data = [],
            data.goods.forEach(v => {
                result.data.push({
                    KH: data.customer,
                    DD: data.out_trade_no,
                    MC: v.category,
                    GG: parseFloat(v.width) + "宽X" + parseFloat(v.height) + "高=" + v.num + "/" + data.order_num,
                    GY: v.craft,
                    XH: v.remark
                })
            });
            return result;
        }

        function requestPrint(data) {
            var loader = parent.layer.load(2, { shade: ['#fff', .3] });
            console.log(JSON.stringify(data));
            return false;
            $.ajax({
                url: 'http://127.0.0.1:31580/Printer2',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                processData: false,
                contentType: "application/json; charset=utf-8",
                complete: function(xhr) {
                    parent.layer.close(loader);
                    var r = JSON.parse(xhr.responseText);
                    if (r.ret == 0) {
                        parent.layer.msg("SUCCESS");
                    } else {
                        parent.layer.alert(r.msg)
                    }
                }
            });
        }

        requestPrint(getPrintArr())
    })
</script>
{/block}