{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .layui-bg-green, .bg-green {
            background-color: rgb(1, 129, 1)!important;
        }
        .layui-bg-green1 {
            background-color: rgb(93, 122, 78)!important;
        }
        .layui-bg-dark {
            background-color: rgb(119, 120, 119)!important;
        }
        .layui-bg-red {
            background-color: rgb(175, 1, 1)!important;
        }
        .layui-badge:hover {
            color: white !important;
        }
        .layui-table {
            width: 100%!important;
        }
        .cricel {
            position: absolute;
            left: 2px;
            top: 13px;
            line-height: 20px;
            height: 18px;
            overflow: hidden;
            border-radius: 18px;
            zoom: .8;
            text-align: center;
            font-weight: normal;
            background-color: #16b777;
        }
        .cricel + font {
            margin-left: 3px;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <form class="layui-tab-item layui-form layui-show" style="margin-top: 10px;" id="form1" enctype="application/x-www-form-urlencoded" method="POST">
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <label class="layui-form-label">搜索内容</label>
                    <div class="layui-input-inline">
                        <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input" lay-affix="clear" lay-filter="keyword" />
                    </div>
                </div>
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <label class="layui-form-label">补单时间</label>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - " readonly />
                    </div>
                </div>
                <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                    <input type="hidden" name="export" id="export" value="" />
                    <input type="hidden" name="print" id="print" value="" />
                    <span class="layui-btn-group">
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            搜索结果
                        </button>
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-filter="LAY-list-back-export" lay-submit>
                            <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>
                            导出记录
                        </button>
                        {if checkAccess("orderLabelPrint")}
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-danger" lay-filter="LAY-list-back-print" lay-submit>
                            <i class="layui-icon layui-icon-print layuiadmin-button-btn"></i>
                            打印所有标签
                        </button>
                        {/if}
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/html" id="user-toolbar">
    {if checkAccess("orderLabelPrint")}
    <button class="layui-btn layuiadmin-btn-admin layui-btn-sm layui-btn-danger" lay-event="print" data-type="print">
        <i class="layui-icon layui-icon-print"></i>打印选中标签
    </button>
    {/if}
</script>

<script type="text/html" id="col-category">
    {{# if (d.print_label > 0) { }}
    <span class="layui-badge cricel" title="已打印{{ d.print_label }}次">{{ d.print_label }}</span>
    {{# } }}
    <font>{{ d.category }}</font>
</script>

<script>
    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form', 'laydate'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laydate = layui.laydate
        ,pageTable;

        var active = {
            print(o) {
                var id = o.config.id;
                var checkStatus = table.checkStatus(id);
                if (checkStatus.data.length > 0) {
                    top.layer.confirm('将要打印[' + checkStatus.data.length + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                        top.layer.close(index);
                        requestPrint(active.getData(checkStatus.data));
                    });
                }
            },
            getData(data) {
                var result = { ids: [], data: [] };
                data.forEach(v => {
                    result.data.push({
                        KH: v.customer,
                        DD: v.trade_no,
                        MC: v.category,
                        GG: parseFloat(v.width) + "宽X" + parseFloat(v.height) + "高=" + v.num + "/补",
                        GY: v.craft,
                        XH: v.remark
                    }),
                    result.ids.push(v.id);
                });
                return result;
            }
        };

        function requestPrint(rds) {
            var loader = parent.layer.load(2, { shade: ['#fff', .3] }), ds = { data: rds.data };
            console.log(JSON.stringify(rds));
            $.ajax({
                url: 'http://127.0.0.1:31580/Printer',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(ds),
                processData: false,
                contentType: "application/json; charset=utf-8",
                complete: function(xhr) {
                    parent.layer.close(loader);
                    var r = JSON.parse(xhr.responseText);
                    if (r.ret == 0) {
                        parent.layer.msg("SUCCESS");
                        $.post("{:url('orderLabelPrint')}", {ids: rds.ids});
                    } else {
                        parent.layer.alert(r.msg)
                    }
                }
            });
        }

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: location.href,
                toolbar: '#user-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'print_label', hide: true},
                    {title: '最后补单', field: 'create_time', width: 160},
                    {title: '订单号', field: 'trade_no', width: 160},
                    {title: '客户名称', field: 'customer', width: 160},
                    {title: '品类名称', field: 'category', width: 160, templet: "#col-category"},
                    {title: '工艺', field: 'craft', width: 160},
                    {title: '宽mm', field: 'width', width: 100},
                    {title: '高mm', field: 'height', width: 100},
                    {title: '面积m²', field: 'area', width: 100},
                    {title: '订单数量', field: 'order_num', width: 100},
                    {title: '补单数量', field: 'num', width: 100},
                    {title: '备注', field: 'remark', width: 300}
                ]],
                parseData: function(res) {
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function(res, curr, count) {
                    ns.page = curr;
                    ns.count = count;
                },
                page: !0,
                limit: 20,
                limits: [20, 50, 200, 500, 1000, 5000],
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("tool(LAY-list-table)", function(e) {
                active[e.event] ? active[e.event].call(this, e) : '';
            });
        }

        laydate.render({ elem: '#search_time', type: 'date', range: true }),

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-list-table', {
                where: field,
                page: {
                    curr: 1
                }
            });
            return false;
        }),

        form.on('submit(LAY-list-back-export)', function(obj) {
            top.layer.confirm('将导出[' + ns.count + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                top.layer.close(index),
                $("#form1").attr("action", location.href + "?_=" + (new Date()).getTime()),
                $("#export").val("1"),
                setTimeout(() => $("#export").val(""), 1000);
                $("#form1").submit()
            });
            return false;
        }),

        form.on('submit(LAY-list-back-print)', function(obj) {
            top.layer.confirm('将要打印[' + ns.count + ']条记录，确认继续吗?', {icon: 3, title:'提示'}, index => {
                top.layer.close(index);
                var field = obj.field, loader = top.layer.load(2, { shade: ["#fff", .3] });
                field["print"] = 1;
                $.ajax({
                    type: 'POST',
                    url: location.href,
                    data: field,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(r) {
                        if (r.code == 0) {
                            requestPrint(active.getData(r.data.list));
                            top.layer.close(loader);
                        } else {
                            top.layer.close(loader);
                            top.layer.msg(r.message);
                        }
                    }
                });
            });
            return false;
        }),
        form.render();
        renderTable();
    });
</script>
{/block}