{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}

{block name="scripts"}
<script type="text/html" id="user-toolbar">
    <span style="margin-left: -15px;">
        <button class="pear-btn pear-btn-primary pear-btn-md layui-btn layuiadmin-btn-admin" lay-event="add" data-type="add">
            <i class="layui-icon layui-icon-add-1"></i>新增品类
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-md layui-btn layuiadmin-btn-admin" lay-event="batchRemove" data-type="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            批量删除
        </button>
    </span>
</script>

<script type="text/html" id="user-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script> 

<!---->
<script>

    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,pageTable;

        var active = {
            add: function(){
                ns.open("{:url('categoryAdd')}", '添加品类').then(() => {
                    renderTable()
                })
            },
            batchRemove: function(v) {
                parent.layer.confirm('您确定要删除这些品类？', {
                    title: '友情提示',
                    icon: 3,
                    btn: ['是的', '再想想']
                }, function(i) {
                    parent.layer.close(i),
                    ns.silent("{:url('categoryDel')}", {id: ns.tableSelected(v, "id")}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                });
            }
        };

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;

            // 执行重载
            table.reload('LAY-list-table', {
                where: field
            });
        }),

        renderTable();

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: "{:url('category')}",
                toolbar: '#user-toolbar',
                cols: [[     
                    {type: 'checkbox'},
                    {title: '品类名称', field: 'category', align: 'center'},
                    {title: '分组', field: 'group', align: 'center'},
                    {title: '排序', field: 'sort', align: 'center'},
                    {title: '创建时间', field: 'create_time', width: 160},
                    {title: '操作', toolbar: '#user-bar', align: 'center', width: 130}
                ]],
                parseData: function(res) {
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function() {
                    ns.page = this.page.curr;
                },
                page: !0,
                limit: 20,
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("tool(LAY-list-table)", function(e) {
                if ("remove" === e.event) {
                    parent.layer.confirm('您确定要删除该品类？', {
                        title: '友情提示',
                        icon: 3,
                        btn: ['是的', '再想想']
                    }, function(i) {
                        parent.layer.close(i),
                        ns.silent("{:url('categoryDel')}", {id: e.data.id}, res => {
                            if (res.code == 0) {
                                setTimeout(() => pageTable.reload(), 100)
                            } else {
                                layer.alert(res.message)
                            }
                        })
                    });
                } else if ("edit" === e.event) {
                    ns.open("{:url('categoryEdit')}?id=" + e.data.id, '编辑品类').then(() => {
                        var ret = ns.getReload();
                        ret && pageTable.reload()
                    })
                }
            });
        }
    });

</script>
{/block}