{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .layui-btn-group {
            font-size: 0%!important;
        }
        .layui-table-box button {
            font-size: 12px!important;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <div class="layui-form" lay-filter="component-tabs-brief">
                <div class="layui-form-item" style="margin-bottom: 0px;">
                    <div class="layui-form-item layui-inline" style="display: none;">
                        <label class="layui-form-label">搜索类型</label>
                        <div class="layui-input-inline">
                            <select name="search_type" lay-verify="required" class="layui-select">
                                <option value="mobile">联系电话</option>
                                <option value="nickname">客户名称</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">搜索内容</label>
                        <div class="layui-input-inline">
                            <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            搜索结果
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/html" id="user-toolbar">
    <span style="margin-left: -15px;">
        <button class="pear-btn pear-btn-primary pear-btn-md layui-btn layuiadmin-btn-admin" lay-event="add" data-type="add">
            <i class="layui-icon layui-icon-add-1"></i>新增客户
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-md layui-btn layuiadmin-btn-admin" lay-event="batchRemove" data-type="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            批量删除
        </button>
    </span>
</script>

<script type="text/html" id="user-bar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="palst">
            <i class="layui-icon layui-icon-chart-screen"></i>账单
        </button>
        <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>编辑
        </button>
        <button type="button" class="layui-btn layui-btn-xs" lay-event="remove">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
    </div>
</script> 

<script type="text/html" id="user-enable">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="user-createTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script> 

<script type="text/html" id="user-avatar">
    <img src="{{ d.avatar }}" style="width: 30px;height: 30px;border-radius: 50%">
</script> 

<!---->
<script>
    var defaultGroup = 0;

    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,pageTable;

        var active = {
            add: function(){
                ns.open("{:url('memberAdd')}", '添加客户', ['90%', '90%']).then(() => {
                    renderTable()
                })
            },
            batchRemove: function(v) {
                parent.layer.confirm('您确定要删除这些客户？', {
                    title: '友情提示',
                    icon: 3,
                    btn: ['是的', '再想想']
                }, function(i) {
                    parent.layer.close(i),
                    ns.silent("{:url('memberDel')}", {id: ns.tableSelected(v, "id")}, res => {
                        if (res.code == 0) {
                            setTimeout(() => pageTable.reload(), 100)
                        } else {
                            layer.alert(res.message)
                        }
                    })
                });
            },
            status: function(id, status) {
                ns.silent('{:url("memberUpdate")}?id=' + id, {status: status?1:0});
            }
        };

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;

            // 执行重载
            table.reload('LAY-list-table', {
                where: field,
                page: {
                    curr: 1
                }
            });
        }),

        form.on('switch(user-enable)', function(obj){
            active['status'].call(this, obj.elem.value, obj.elem.checked)
        }),

        renderTable();

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: "{:url('member')}",
                toolbar: '#user-toolbar',
                cols: [[     
                    {type: 'checkbox'},
                    {title: '客户名称', field: 'nickname', align: 'left'},
                    {title: '联系电话', field: 'mobile', width: 160, edit: 'text'},
                    {title: '应付', field: 'payable_money', width: 100, sort: true},
                    {title: '已付', field: 'paid_money', width: 100, sort: true},
                    {title: '结余', field: 'surplus_money', width: 100, sort: true},
                    {title: '状态', field: 'status', align: 'center', templet: '#user-enable', width: 100},
                    {title: '创建时间', field: 'create_time', width: 160, sort: true},/*  templet: '#user-createTime' */
                    {title: '操作', toolbar: '#user-bar', align: 'center', width: 205}
                ]],
                parseData: function(res) {
                    defaultGroup = res.data.default_group || 0;
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function() {
                    ns.page = this.page.curr;
                },
                page: !0,
                limit: 20,
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("edit(LAY-list-table)", function(e) {
                ns.silent("{:url('memberUpdate')}?id=" + e.data.id, {field: e.field, value: e.value}, res => {
                    if (res.code != 0) {
                        top.layer.msg(res.message)
                    }
                })
            }),

            table.on("tool(LAY-list-table)", function(e) {
                if ("remove" === e.event) {
                    parent.layer.confirm('您确定要删除该客户？', {
                        title: '友情提示',
                        icon: 3,
                        btn: ['是的', '再想想']
                    }, function(i) {
                        parent.layer.close(i),
                        ns.silent("{:url('memberDel')}", {id: e.data.id}, res => {
                            if (res.code == 0) {
                                setTimeout(() => pageTable.reload(), 100)
                            } else {
                                layer.alert(res.message)
                            }
                        })
                    });
                } else if ("edit" === e.event) {
                    ns.open("{:url('memberEdit')}?id=" + e.data.id, '编辑客户', ['96%', '90%']).then(() => {
                        var ret = ns.getReload();
                        ret && pageTable.reload()
                    })
                } else if("payable" === e.event) {
                    ns.open("{:url('memberPay')}?id=" + e.data.id, '记录【' + e.data.nickname + '】收款').then(() => {
                        var ret = ns.getReload();
                        ret && pageTable.reload()
                    })
                } else if("palst" === e.event) {
                    location.href = "{:url('memberPalst')}?mid=" + e.data.id;
                }
            });
        }
    });

</script>
{/block}