{extend name="base" /}
{block name="resources"}
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <style>
        .layui-btn-group {
            font-size: 0%!important;
        }
        .layui-table-box button {
            font-size: 12px!important;
        }
    </style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <form class="layui-form layui-tab layui-tab-brief" lay-filter="component-tabs-brief" enctype="application/x-www-form-urlencoded" method="POST">
                <ul class="layui-tab-title">
                    <li><a href="{:url('member')}">会员列表</a></li>
                    <li class="layui-this"><a href="{:url('memberPalst')}">收款账单</a></li>
                </ul>
                <div class="layui-form layui-tab layui-tab-brief" lay-filter="component-tabs-brief" method="POST">
                    <div class="layui-tab-item layui-show" style="margin: 25px 0 10px 15px;">
                        <div class="layui-form-item" style="margin-bottom: 0px;">
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">搜索类型</label>
                                <div class="layui-input-inline">
                                    <select name="search_type" lay-verify="required" class="layui-select">
                                        {if $customer_id == 0}
                                        <option value="mobile">联系电话</option>
                                        <option value="nickname">客户名称</option>
                                        {/if}
                                        <option value="remark">付款备注</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="search_value" placeholder="请输入搜索内容" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-inline" style="margin-bottom: 0px;">
                                <label class="layui-form-label">收款时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="search_time" id="search_time" placeholder=" - ">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <input type="hidden" name="customer_id" value="{$customer_id}" />
                                <input type="hidden" name="export" id="export" value="" />
                                <span class="layui-btn-group">
                                    <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-normal" lay-submit lay-filter="LAY-list-back-search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                        搜索结果
                                    </button>
                                    <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-filter="LAY-list-back-export" lay-submit>
                                        <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>
                                        导出记录
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px 10px!important;">
            <table id="LAY-list-table" lay-filter="LAY-list-table"></table>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script type="text/html" id="user-bar">
    {{# if(d.pay_info.voucher) { }}
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="voucher">
            <i class="layui-icon layui-icon-eye"></i>查看收据
        </button>
    </div>
    {{# } }}
</script>

<script type="text/html" id="user-createTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="user-avatar">
    <img src="{{ d.avatar }}" style="width: 30px;height: 30px;border-radius: 50%">
</script>

<!---->
<script>
    layui.config({
        base: '/static/admin/'
    }).use(['table', 'form', 'laydate'], function(){
        var $ = layui.$
        ,form = layui.form
        ,table = layui.table
        ,laydate = layui.laydate
        ,pageTable;

        form.render();

        var active = {};

        // 渲染表格
        function renderTable() {
            pageTable = table.render({
                elem: "#LAY-list-table",
                url: "{:url('memberPalst')}",
                toolbar: '#user-toolbar',
                where: { customer_id: {$customer_id} },
                cols: [[     
                    {type: 'numbers', title: '#'},
                    {title: '客户名', field: 'customer', width: 160, align: 'left'},
                    {title: '联系电话', field: 'mobile', width: 160},
                    {title: '收款金额', field: 'pay_money', width: 100},
                    {title: '收款时间', field: 'pay_time', width: 160},
                    {title: '备注说明', field: 'remark', templet: function(data) {
                        return data.pay_info.remark;
                    }, edit: 'text'}
                ]],
                parseData: function(res) {
                    return {
                        code: res.code,
                        msg: res.message,
                        count: res.data.count,
                        data: res.data.list
                    }
                },
                done: function() {
                    ns.page = this.page.curr;
                },
                page: !0,
                limit: 20,
                height: "full-220",
                text: { none: "无数据" }
            });

            table.on('toolbar(LAY-list-table)', function(o) {
                active[o.event] ? active[o.event].call(this, o) : '';
            }),

            table.on("edit(LAY-list-table)", function(e) {
                ns.silent("{:url('memberPalstUpdate')}?id=" + e.data.id, {field: e.field, value: e.value}, res => {
                    if (res.code != 0) {
                        top.layer.msg(res.message)
                    }
                })
            }),
 
            table.on("tool(LAY-list-table)", function(e) {
                if ("voucher" === e.event) {
                    window.open(e.data.pay_info.voucher);
                }
            });
        }

        // 监听搜索
        form.on('submit(LAY-list-back-search)', function(data){
            var field = data.field;
            // 执行重载
            table.reload('LAY-list-table', {
                where: field,
                page: {
                    curr: 1
                }
            });
            return false;
        }),

        form.on('submit(LAY-list-back-export)', function(obj) {
            $("#export").val("1"),
            setTimeout(() => $("#export").val(""), 1000)
        }),

        // 搜索时间
        laydate.render({ elem: '#search_time', type: 'datetime', range: true }),
        renderTable();
    })
</script>
{/block}